[2019-05-06 13:24] vogti opened #6 "Check if it makes sense to use the SimpleName of the Class in Config Manager and Information Manager"
Instead of a type filed, consider using the simple name of the class as type in the Config Manager and the Information Manager.

[2019-05-06 13:27] vogti opened #7 "Support updating labels in InformationGraphs"
Currently, it is not possible to update labels of an Information of type Graph in the Information Manager.

[2019-05-06 13:32] vogti opened #8 "Add InformationText"
It would be nice to have an Information element of type Text.

[2019-05-06 13:34] vogti opened #9 "Add InformationTable"
Add an Information element of type table, which allows rendering data in a tabular form.

[2019-05-06 13:39] vogti opened #10 "Add InformationKeyValue"
Add an Information element, which consists of a key and a value. This allows to easily output the value of an option. The rendering of the value should depend on the data type. It should therefore be considered to implement the value in a generic form. The key can always be a String.

[2019-05-06 13:41] vogti opened #11 "Serve Polypheny-DB UI from Polypheny-DB"

[2019-05-06 13:44] vogti opened #141 "UI should support multiple instances of Polypheny-DB"
Support monitoring and configuring multiple instances of Polypheny-DB at the same time.

[2019-05-23 13:46] vogti commented on #11
Implemented in #15

[2019-05-23 13:46] #11 closed

[2019-09-26 09:54] vogti opened #42 "Context-dependent SQL Autocompletion"
The suggestions should be more context-dependent (only suggest a column name if it is allowed and expected at this place in the query).

[2019-09-26 09:58] vogti opened #43 "Include constraint and index names in SQL suggestions"
Add constraint names and index names to the list of suggestions in the sql query auto completion provided in the Polypheny-DB UI.

[2019-09-26 10:01] vogti opened #44 "Consistent framing of input fields"
Some of the input fields a framed green (for valid inputs?) while others are not. This should be consistent. Or is there a specific reason why this is handled like this?

[2019-09-26 10:04] vogti opened #45 "Visual indication that the UI is waiting on response from Polypheny-DB"
Especially for long running task, it would beneficial to have a visual indication for the user that the UI is currently waiting on a response from Polypheny-DB.

[2019-09-26 10:08] vogti opened #46 "Monitor page stops working after the execution of an insert query"
The monitor page in Polypheny-DB UI stops working if an insert query has been executed. There reason for this seems to be a wrong query plan entry in the main information manager.

[2019-09-26 10:16] vogti opened #47 "Modals for approving delete operations"
Instead of either the current solution, which requires either double clicking or typing the name of the element to delete, it would be more consistent to always present a model to the user that asks for approval. Whether approval is required at all for a delete operation should be configurable.

[2019-09-26 10:21] vogti opened #48 "Add config type Enum"
A config element which relates to the values of a specified enum.

[2019-09-26 11:24] vogti opened #49 "Correctly add the InformationTable Element"
Refactor and correctly integrate the InformationTable element. The HTML code should be part of the UI.

[2019-09-26 11:26] vogti opened #50 "Add information element for code"
Add an information element which allows to nicely display java code in the UI.

[2019-09-26 11:45] vogti opened #51 "Add information element for durations"
Add a special information element for durations. This element should already include the required stopwatch code. Furthermore, it should also be possible to simply provide a duration as long.

The element has to support interims and "sub durations". For every interim and sub duration there should be a label assigned. It would be nice if sub durations can also have interims (but this is not require

[2019-09-26 11:51] vogti opened #52 "Use fetch size instead of adding a limit"
Only fetch a configurable number of elements instead of adding an limit clause to every query submitted via the query console.

For the queries executed by the UI it might be benefitial to stick to the limit / offset construt.

[2019-09-26 12:12] vogti opened #53 "Messages from information manager on startup"

[2019-09-26 12:17] vogti opened #54 "Dropdowns in Query Plan Builder"
Simplify the plan builder by using dropdowns instead of free text.

Only suggested columns from tables for which there is a scan operation.

[2019-09-26 12:20] vogti commented on #54
Simplify the plan builder by using dropdowns instead of free text.

Only suggested columns from tables for which there is a scan operation.

[2019-09-26 12:54] vogti opened #55 "Simplify options for join operator in the plan builder"
Due to foreign key constraints, it would be possible to already prefill the join operator with appropriate data.

[2019-09-26 12:57] vogti opened #56 "Complete list of operators in plan builder"
Add missing operators in plan builder.

[2019-09-26 13:00] vogti opened #57 "Varbinary requires a length"
Add length field similar to varchar in the UI.

[2019-09-26 13:42] nilshansen94 commented on #57
This feature is already provided (when creating a table or adding or editing a column).

[2019-09-26 13:42] #57 closed

[2019-09-26 14:01] nilshansen94 commented on #44
The green input fields appear only for numeric inputs. In the first attempt, an input of type number was used to avoid invalid input to some extent, but this caused problem with the angular data binding. Now, also for numeric data-types an input of type text is used and the green/red classes show, if the value is of a numeric type. It makes no sense to validate varchar/text input, since any input

[2019-09-26 14:15] vogti opened #58 "Add explanation and help buttons in UI"
Add more descriptive text and explanations to the UI.

[2019-09-26 14:18] vogti opened #59 "Export and import query analyzer sessions"
Add support for exporting query analyzer sessions to one file. This would allow to send it to a developer in case of a bug.

[2019-09-26 14:21] vogti opened #60 "Add information element for plain text"

[2019-09-26 14:43] vogti opened #61 "Improve information graph elements to allow collecting data"
The current implementation requires to provide all data for the graph at ones. This is fine for graphs where you want to visualize a current situation. In case it is required to visualize the change over time, this is very inconvenient.

The information graph element should therefore be extend to allow adding single values. Furthermore, it is required to allow specifying the number of values which

[2019-09-26 14:46] vogti opened #62 "Allow registering methods in information manager which are periodically executed"

[2019-09-26 14:54] vogti opened #63 "Add input elements for date/time types"
Add a calendar and time element in the UI to easily add and change fields with a date/time type.

[2019-09-26 15:02] vogti opened #64 "Data type dependent list of parameters"
The number of parameters is not equal for all data types supported by Polypheny-DB. While the current implementation only supports a parameter for VARCHAR and VARBINARY it should be possible to have an arbitrary number of parameters depending on the data type.

[2019-09-26 15:20] vogti opened #65 "Indicate in the UI if a source table is read-only"
The UI should not provide any options for modifying a table which is read-only (data which is e.g. provided by the CSV adapter).The UI should not provide any options for modifiing a table which is read-only (data which is e.g. provided by the CSV adapter).

Requires #66

[2019-09-26 15:21] vogti opened #66 "Add attribute for tables which are read-only"
See also #65

[2019-09-26 15:34] vogti opened #67 "Input fields in graphical querying have wrong size in firefox"
![grafik](https://user-images.githubusercontent.com/1682115/65702747-d4f9f780-e083-11e9-9231-2bdc43fb7ef5.png)

[2019-09-27 06:10] vogti opened #68 "Clean-up query result box"
- Remove generated query (redundant because this is already in the header of the box)
- Only show "Affected Rows" if there is no result set

Or is there a reason to keep this information?

[2019-09-27 06:35] vogti opened #69 "Persistent configuration"
In the current implementation, any changes to the default values are lost after a restart of Polypheny-DB. To change this, I propose the following changes to the configuration system:

- If there are changes to the configuration (e.g. via the UI) these changes are not directly written to the configuration file but are as in the current implementation only available until the next restart.
- To wri

[2019-09-27 06:46] vogti opened #70 "More control over transactions in the UI"
It should be possible to select whether the queries executed by the UI should immediately be committed or if the user should trig the commit manually. This allows creating a whole schema and adding data within one transaction using the UI tools.

The transaction/commit mode (auto commit (default) or manual) should be indicated by an icon in the UI. The transaction is bound to one instance (session

[2019-09-27 06:57] vogti opened #71 "Export and import schema in UI"
Allow to export the current schema (or parts of it) as PolySQL-Script. It should be possible to select whether the export should include the currently stored data.

The UI should also support importing PolySQL scripts.

[2019-09-27 07:03] vogti opened #72 "Edit a previously executed query in the plan builder"
It should be possible to open the logical query plan from the query analysis in the plan builder. This would allow to easily change complex query plans without needing to rebuild the complete plan.

[2019-09-27 07:20] vogti opened #73 "Use primary keys for updates in data view if present"
The update statements generated by the data view should make use of primary keys (if there is one defined).

[2019-09-27 07:40] vogti opened #74 "Auto name generator"
Implement a function that generated valid and unique names for indexes, constraints and foreign keys.

[2019-09-27 07:43] vogti opened #75 "UI should propose auto generated names"
Use #74 to propose artificially generated index, foreign key and constraint names in the UI. Those names should be set as placeholder in the corresponding input fields of the UI.

[2019-09-27 07:48] vogti commented on #61
Have a look at micrometer.io

[2019-09-27 08:02] vogti opened #76 "UML view and plan builder are not working on tablets"
It is not possible to connect columns in the UML view. Already existing connections are displayed correctly.

In the Plan Builder, it is not possible to grab operators from the left side.

Except for these two features, the UI is working perfectly.

Tested on both, iPadOS and Android.

[2019-09-27 09:15] vogti opened #77 "Add about page to UI"
- Polypheny-DB Version (hash, build date)
- Polypheny-DB UI Version (hash, build date)
- Developers
- Used libraries and technologies
- License

[2019-09-27 09:36] vogti opened #78 "UI excepts invalid names"
The UI should check names (schemas, tables, columns, indexes, constraints, foreign keys) before submitting them to Polypheny-DB.

Rules:

- Starts with a letter
- Contains only letters, digits and underscores
- Length <= 100

Regex: `^[a-zA-Z_][a-zA-Z0-9_]*$`

[2019-09-27 09:43] vogti commented on #44
There is at least one thing you can check for VARCHARs: the length. For Text fields I agree that it is difficult to find something to validate. But in that case I would suggest that you always frame it green (because it is always a valid string). I think the validation is quite useful and we should not drop it because there are fields without something to validate.

[2019-09-27 14:37] nilshansen94 opened #79 "Specify the schema of a table when performing a table scan"
When performing a table scan with the plan builder, it is not yet possible to specify the schema of the table that should be scanned.

[2019-09-29 09:11] vogti opened #80 "Scrollbar in menu"
![grafik](https://user-images.githubusercontent.com/1682115/65829832-d0168d00-e2a9-11e9-8ae9-0861ffcd431c.png)

[2019-09-30 10:10] vogti commented on #79
The scan method expects qualified names to be specified as iterable rather than as string. Please change the following line in the QueryPlanBuilder class from
`return builder.scan( node.table ).as( node.table );`
to
`return builder.scan( Util.tokenize(node.table, ".") ).as( node.table );`

[2019-09-30 14:15] #74 closed

[2019-10-11 15:54] #53 closed

[2019-10-11 15:54] #46 closed

[2019-10-11 15:56] #78 closed

[2019-10-11 15:59] vogti opened #81 "Plan-Builder elements outside working area"
It is possible to place plan builder elements completely or partially outside the working area.

![grafik](https://user-images.githubusercontent.com/1682115/66666362-b897b680-ec50-11e9-826d-a1b4bbeebee3.png)

[2019-10-11 16:02] vogti opened #82 "Qualified names are not accepted in plan builder"
A table scan element with public.emps results in a "Table 'public.emps' not found" message.

[2019-10-16 12:49] vogti opened #84 "Plan-Builder: Sort operator broken in Firefox"
The Sort-Operator in the Plan-Builder of Polypheny-DB UI is broken in Firefox.
![grafik](https://user-images.githubusercontent.com/1682115/66920644-fbc4a180-f023-11e9-9005-f482fbf8560d.png)

[2019-10-16 12:56] vogti opened #85 "Empty Query Result Box in Polypheny-DB UI when executing a SQL script"
![grafik](https://user-images.githubusercontent.com/1682115/66921240-0c294c00-f025-11e9-8912-6044309aaaed.png)

[2019-10-18 12:43] nilshansen94 commented on #81
When dragging a node around, the issue is fixed.
When dropping a node for the first time, it can be partially outside, but only in a non-problematic way. Parts of the header (drag-handle) will always be in the working area.

[2019-10-19 13:24] #81 closed

[2019-10-19 13:56] vogti commented on #82
This issue seams to be fixed. @nilshansen94 Can you confirme?

[2019-10-19 13:58] vogti commented on #82
Releated to #79

[2019-10-19 13:59] vogti commented on #79
This issue seams to be fixed. @nilshansen94 Can you confirme?

[2019-10-19 14:13] vogti commented on #44
Still missing for

- Add index
- Add schema

[2019-10-19 14:21] vogti opened #86 "Drop table and truncate table are not working"
![screen](https://user-images.githubusercontent.com/1682115/67146548-6ed05100-f28c-11e9-85f9-61410b298e6e.png)

[2019-10-19 14:25] vogti opened #87 "Add config type Class"
Two elements: One for a single class and one for a list of classes.

[2019-10-19 20:37] vogti commented on #48
@nilshansen94 Can you please add support for _enum_ and _enum list_ in the UI.

[2019-10-19 20:39] vogti commented on #87
@nilshansen94 Can you please add support for _class_ and _class list_ in the UI.

[2019-10-20 10:43] schoenja opened #89 "Different declared dependency versions between subprojects"
# Issue
Due to the nature of multi project builds, dependencies will be declared multiple times. This can and does lead to different versions of dependencies being declared.

For this project, the following dependencies have multiple different version declared:
[code]

This can, but doesn't have to, lead to issues both at compile and runtime, as different dependency version might be incompatible,

[2019-10-21 06:18] #89 closed

[2019-10-21 10:07] nilshansen94 commented on #86
You have to type "test" to drop the table test (as it is describe above the table). But I see that the placeholder of the input-field is misleading.
I could change it in a way, that both "test" and "drop test" would work.

[2019-10-21 10:15] nilshansen94 commented on #82
Yes, this issue was fixed in 833fbf6b4c497c72fddcefa75c2512f4a36c837f.

[2019-10-21 10:15] #82 closed

[2019-10-21 10:15] nilshansen94 commented on #79
Yes, this issue was fixed in 833fbf6b4c497c72fddcefa75c2512f4a36c837f.

[2019-10-21 10:15] #79 closed

[2019-10-21 14:56] vogti commented on #86
Ah, ok. Yes, I think allowing "test" as well as "drop test" is a good and pragmatic solution.

[2019-10-24 20:29] #48 closed

[2019-10-24 20:29] #87 closed

[2019-11-02 15:23] vogti opened #93 "Add support for now()"

[2019-11-02 15:49] vogti opened #94 "Aliases are not working in where clause"
`select deptno as foo from emps where foo > 1 `

[2019-11-02 15:55] vogti opened #95 "Add support for prepared statements"

[2019-11-02 15:56] vogti opened #96 "Improve handling of duplicate columns in result sets"
`select * from emps e1, emps e2`

[2019-11-05 13:08] vogti opened #97 "Schema editor does not enqoute column and table names"
It is not possible to create a table or a column with the name "user" in the web ui. It is also not possible to change a table with this name (e.g. adding a column).

Make sure, that all names are properly enquoted.

`create table "user" ("uid" integer, "name" varchar(20))`

[2019-11-05 13:11] vogti commented on #84
This seams to be fixed

[2019-11-05 13:11] #84 closed

[2019-11-05 13:15] vogti commented on #54
Seams to be done

[2019-11-05 13:15] #54 closed

[2019-11-05 13:32] vogti commented on #56
Still missing: Intersect

[2019-11-05 13:45] #60 closed

[2019-11-05 13:52] #9 closed

[2019-11-06 13:50] nilshansen94 commented on #44
When filling in the name of a schema that you want to drop, the validation checks if the schema in the input field exists at all. If yes, the input field will be marked valid.

[2019-11-09 12:17] vogti commented on #44
It would make sense to do a similar check for the create schema form.
![grafik](https://user-images.githubusercontent.com/1682115/68528456-24724b00-02f3-11ea-87a4-3049ea07be37.png)

[2019-11-09 12:20] vogti commented on #44
The "if not exists" and the "if exists" checkboxes do no longer make sense due to the validation. Consider removing these checkboxes.

[2019-11-09 12:28] vogti commented on #44
It would make sense to also add such a check for create table.
![grafik](https://user-images.githubusercontent.com/1682115/68528566-c47ca400-02f4-11ea-9437-2d8f3fe163bb.png)

[2019-11-09 12:54] #97 closed

[2019-11-09 12:59] #85 closed

[2019-11-10 10:48] vogti commented on #56
- Aggregate requires a group by field. Allow also aggregate without group by.
- Intersect is not working

[2019-11-10 13:00] vogti commented on #56
![operators](https://user-images.githubusercontent.com/1682115/68544342-77670380-03c2-11ea-99f3-cf1b3b96947e.PNG)

[2019-11-10 13:05] vogti opened #100 "Option to rename tables in UI"
It is not possible to rename tables in the UI.

[2019-11-10 13:14] vogti opened #101 "Visual indication for query result in UI"
Add an icon expressing the outcome of a query (either on the left or on the right side of the box).

![query](https://user-images.githubusercontent.com/1682115/68544521-438cdd80-03c4-11ea-8a8a-d2e92adbbc8d.PNG)

[2019-11-11 10:23] nilshansen94 commented on #68
The header contains only part of a query, if it is too long. Now, the generated query info will only be displayed when the query in the header is too long and cropped.
The affected-rows info was removed due to improvements made in #101 .

[2019-11-11 10:26] nilshansen94 commented on #101
I've had something similar in mind. But I also wanted to see the number of affected or fetched rows. I realised it with badges.
![query-results](https://user-images.githubusercontent.com/28142146/68580117-f79a7100-0475-11ea-8cd3-9c47c550120d.png)

[2019-11-11 14:50] #101 closed

[2019-11-13 08:48] #56 closed

[2019-11-13 15:20] #44 closed

[2019-11-13 16:30] #68 closed

[2019-11-13 17:20] #50 closed

[2019-11-15 07:26] vogti opened #102 "Limit size of "operator bar" in plan builder"
Set a min and a max width.

![grafik](https://user-images.githubusercontent.com/1682115/68924622-87dffb00-0781-11ea-9639-c431cbbb6a0c.png)

[2019-11-15 07:42] vogti opened #103 "Alert function for information manager"
Allow to define thresholds. If these thresholds are exceeded, a warning should be displayed in the UI.

[2019-12-06 19:24] schoenja opened #108 "Test dataset with queries"
## Motivation
Having a dataset together with queries that cover a good part of the functionality of Polypheny would make testing things like new adapters easier.

## What would be needed
- Dataset consisting of multiple tables that have dependencies on each other.
- SQL(?) Code that inserts the dataset into Polypheny with an easy way of setting up the store locations for each table.
- Queries and

[2019-12-07 23:25] vogti opened #110 "Add an option for information elements to be rendered with full width"
Add a `fullWidth` option for information elements which forces them to be rendered with full width independent of the selected zoom level.

[2019-12-07 23:29] vogti opened #111 "Allow to select initial store for new tables"
Allow selecting store from set of running stores.

To achive this: add  ``ON STORE [store name]`` at the end of the CREATE TABLE statements.

[2019-12-07 23:31] vogti opened #112 "Allow to add and remove data placements"
Allow to add and remove stores from the list of placements of a table.

[2019-12-08 11:31] schoenja opened #113 "Relative paths in store settings"
With the new settings API, it is now possible to specify paths. So far this is used directly with  java File API, which allows both absolute and relative paths.

While absolute paths usually are clear, there is no information/documentation nor code around how relative paths are handled. This can lead to undefined behaviour, which, if not dealt with, can become required by other code.

[2019-12-12 09:34] schoenja opened #117 "Logical Query Plan UI Settings not properly selectable"
When trying to select an option for the Logical Query Plan, clicking on the checkbox only changes the checkbox, while clicking on the text next to it changes the setting but not the checkbox.

![image](https://user-images.githubusercontent.com/7579761/70700293-cc03e400-1cca-11ea-852f-2009550f5f1e.png)

[2019-12-12 10:02] schoenja opened #118 "Improved AdapterSetting API"
## Issue with current API
The current `AdapterSetting` has various shortcomings, including:
- It is not possible to "atomically" update several settings at once
- Parsing of the different types is left to the user

This should basically be reworked.

## Open questions:
- [ ] How to handle relative paths (what are they relative to?) (see also: #113 )

## Decided on:
- [x] New API will be in the `ch

[2019-12-12 10:44] vogti commented on #117
I can't reproduce this. Which browser do you use?

[2019-12-12 10:46] schoenja commented on #117
71.0 (64-bit) on Linux

I'll pull a clean copy soon and try whether it still happens.

[2019-12-12 10:51] vogti commented on #118
As long as it is an adapter / store settings library, I would keep it in the adapter package. Nevertheless, we can move it into its own sub-package.

Yes, performance should not be the primary concern.

[2019-12-12 10:52] schoenja commented on #117
Update: Could not reproduce the issue with a fresh build from both master branches. Closing.

[2019-12-12 10:52] #117 closed

[2019-12-12 10:55] schoenja commented on #118
So something like `ch.unibas.dmi.dbis.polyphenydb.adapter.settings` in the `core` subproject?

Awesome, means I can put more thought into making it "nice to use"

[2019-12-12 11:12] vogti commented on #118
Yes, sounds good.

[2019-12-12 11:27] vogti commented on #113
This should be addressed in the context of #118.

[2019-12-13 13:49] vogti opened #119 "Return to store overview after deploying a store"
After a successful deployment of a store, there should be a redirect to the overview of the running stores.

[2019-12-13 13:53] vogti opened #120 "Make the deploy dialog more appealing"
Especially the select is not integrated nicely.

[2019-12-13 13:56] vogti opened #121 "Validate store name in deploy dialog"
Add validation for store name in the deploy dialog. Check for

-  Uniqueness of the name
- Same rules as for table names (no special chars, no spaces, not starting with a number)

[2019-12-13 13:58] vogti opened #122 "Improve error messages for store actions"
e.g. messag when trying to remove a store which has data placements.

[2019-12-13 14:10] vogti opened #123 "Display logo of stores"
Allow to add logos for stores. Those should be displayed in both, the overview of the running sores and the overview of the available stores.

[2019-12-13 14:19] vogti opened #124 "Hub: Replace list of links with a dropdown"
Convert this
![grafik](https://user-images.githubusercontent.com/1682115/70806419-90951280-1dbb-11ea-9c47-2e605305d7a9.png)

Into something similar to this
![grafik](https://user-images.githubusercontent.com/1682115/70806534-dbaf2580-1dbb-11ea-82a0-00c5b1e979e3.png)

[2019-12-13 14:28] vogti opened #125 "List foreign key constraints in schema view"
Currently, foreign key constraints are only visible in the UML view of the Polypheny-UI. While the UML view nicely depicts the relation between tables, it lacks further information on the foreign key constraints (i.e. the selected enforcement options). Furthermore, it is not possible to drop foreign key constraints.

I therefore propose to also list the foreign keys in the schema view of a table.

[2019-12-13 14:31] vogti opened #126 "Hub: Support datasets consisting out of multiple tables"
Allow to export and import datasets consisting out of multiple tables.

[2019-12-13 15:42] vogti opened #127 "Edit dataset is broken"
Visibility is always displayed as public in the edit view. Changes to the visibility are not applied.

[2019-12-13 15:45] vogti opened #128 "URL of the hub should always be specified by the UI"
Do not set a hub URL within Polypheny-DB.

[2019-12-13 15:50] vogti opened #129 "Allow to add descriptions for datasets in Polypheny Hub"
It should be possible to add a description for a dataset.

[2019-12-13 16:01] vogti opened #130 "Display available stores as table"
Instead of the card layout used for the running stores, display the available stores as table. This also adds a visual distinction between the running stores and the available stores.

![grafik](https://user-images.githubusercontent.com/1682115/70813591-02745880-1dca-11ea-8925-758037f03486.png)

[2019-12-13 16:13] vogti opened #131 "Display meta information on the datasets in Hub UI"
Display meta information like

- Number of tables
- Number of rows
- Size (of the exported dataset)

[2019-12-13 16:20] vogti opened #132 "Allow changing table names when importing dataset from Hub"
Allow to overwrite the table names from a dataset at import.

[2019-12-13 16:21] vogti opened #133 "Return-key is not working in hub login"
It is not possible to send the login form by pressing the return key.

[2019-12-13 16:25] vogti opened #134 "Put the create hub user form into a modal"
Only display an "Add User" button in the hub manage view.

[2019-12-13 16:31] vogti opened #135 "Add visual indicator for export and import process in the UI"
e.g. spinner or a progress bar

[2019-12-13 16:59] vogti opened #136 "Check whether there is already a table with this name in dataset import"
Vor dem dataset import prüfen ob es bereits eine tabelle mit diesem namen im gewählten schema gibt. Falls es bereits eine Tabelle gibt, den user hierüber informieren und den import blockieren.

[2019-12-13 17:07] vogti opened #137 "Introduce visibility level "internal" for datasets in Polypheny Hub"
There should be an additional option between public and private: internal

We would then have three levels of visibility for datasets (and configurations):
- **private**: Only visible to the user that owns this item
- **internal**: Visible to all logged-in users
- **public**: Visible to the whole world

[2019-12-13 17:10] vogti opened #138 "Support for exporting / importing configurations to / from Polypheny Hub"
Add support for exporting and importing the whole configuration of a Polypheny-DB instance including the schema and data, settings and the interface and adapter configuration to Polypheny Hub.

[2019-12-13 17:27] vogti opened #139 "Move Hub releated stuff into own tab in right menu"
Add a second tab named hub in the right menu. In this tab, add the following options:

- Connection status
- Currently connected hub
- Current user name
- Logout

[2019-12-13 21:29] #6 closed

[2019-12-13 22:05] vogti opened #140 "Index-Page for Polypheny Hub"
Replace the current index page with a page containing some information.

[2019-12-14 10:41] #67 closed

[2019-12-14 10:43] schoenja commented on #69
I have been working on a custom written gradle plugin for properties generation for the CaroloCup codebase. Maybe we could reuse this here.

gist of it:
- Single source of truth for property name, type, and default value in an XML file.
- automatic generation of properties enum and java .properties file.
- gradle plugin supports incremental compilation
- nesting of properties is possible in the XM

[2019-12-14 10:54] schoenja commented on #67
Fixed by: polypheny/Polypheny-UI#15

[2019-12-14 15:00] vogti commented on #69
Important is, that the solution is fully integrated into the existing configuration manager. The focus is not so much on making the configuration files easily adjustable by hand but more on preserving configuration changes done in the existing configuration system (e.g. via the UI) between restarts of Polypheny-DB.

[2019-12-14 15:43] vogti opened #142 "Support linking of already existing tables"
Add support for a command like
`CREATE EXISTING TABLE foo(id .... ) ON STORE postgres1 WITH PHYSICAL NAME bar`

Perhaps it makes sense to also allow a definition of the physical column names.
`(id INTEGER NOT NULL PHYSICAL NAME barid, ...)`

[2019-12-14 17:01] vogti opened #143 "Wrong store list in dataset import dialog"
The dataset import dialog shows a list of the available adapters instead of a list of the running stores.

[2019-12-17 13:41] vogti opened #145 "UI compiles wrong links for retrieving datasets from hub"
The UI builds a wrong list for requesting the dataset file. There are two issues:

- The UI should be capable of also dealing with links containing a trailing slash.
- The UI should also work for URLs, which do not point on a file but on a directory (where index is assumed).

[code]

[2019-12-17 20:11] schoenja commented on #118
Marking this as blocked until the hub is completed. Otherwise there will probably be too much back and forth for now.

[2019-12-18 09:40] vogti commented on #132
I have added support for overriding the table name in the SchemaToJsonMapper and integrated the changes into the existing logic. I also added a "tableName" attribute to the HubRequest class. Furthermore, I added a method to get the defined table name from a JSON.

The getCreateTableStatementFromJson allows the tableName parameter to be null or an empty string. In this case, the table name defined

[2019-12-18 09:55] schoenja opened #147 "Add a jdbc adapter that uses PostgreSQL with a column store extension"
The is an extension for PostgreSQL called [cstore_fdw](https://github.com/citusdata/cstore_fdw), which allows PostgreSQL to behave somewhat like a column store instead of a row store, while still using SQL as the query language.

Implementing a store adapter that uses this extension might be a faster way to have a column store in Polypheny-DB than to implement a "real" column store that doesn't al

[2019-12-18 09:58] vogti commented on #132
My idea is that the import dialog is extended with a table name field. This field should have the table name set in the JSON as default value.

[2019-12-18 11:53] vogti commented on #127
Fixed on hub branch

[2019-12-18 11:53] #127 closed

[2019-12-18 11:58] vogti opened #148 "Show the visibility level of a dataset"
![grafik](https://user-images.githubusercontent.com/1682115/71084601-f277c280-2195-11ea-9834-9ee85a2732ed.png)

It would also be nice to show the visibility (e.g. with a globe symbol).

[2019-12-18 12:04] nilshansen94 commented on #148
You need to pull the latest version of the Polypheny-Hub to show the username of the owners.

[2019-12-18 12:12] nilshansen94 commented on #143
The dataset import was fetching the running stores, but displaying the adapterNames instead of the uniqueNames. If I submit the uniqueName to the Polypheny-DB, it will lead to a RuntimeException:
java.lang.RuntimeException: While executing SQL [INSERT..] on JDBC sub-schema.
If you want, I can push the fixed UI (submitting the uniqueNames), so you can reproduce the error.

[2019-12-18 12:15] vogti commented on #143
Ok, please push it. I will have a look.

[2019-12-18 12:20] vogti commented on #148
Ok, thank you. Now it correctly shows the username.

[2019-12-18 12:24] vogti commented on #140
Fixed

[2019-12-18 12:24] #140 closed

[2019-12-18 12:33] vogti opened #149 "Polypheny Hub is not working on iPads"
There is an issue with the Polypheny-UI on iPads. The table with the available datasets is not rendered correctly. By (clicking) touching on the table, rows appear and disappear (always from top to bottom).

![IMG_BB16F67B144C-1 2](https://user-images.githubusercontent.com/1682115/110607636-ad212580-818b-11eb-98ad-13b526aab2ab.jpeg)

Steps to reproduce:
- Start Polypheny-DB on a computer and open

[2019-12-18 12:38] nilshansen94 commented on #143
I pushed the changes.

[2019-12-18 15:59] vogti commented on #148
Fixed

[2019-12-18 15:59] #148 closed

[2019-12-18 16:00] vogti commented on #143
Fixed on hub branch

[2019-12-18 16:00] #143 closed

[2019-12-25 15:12] schoenja opened #151 "NPE in AvaticaRuntimeException"
The [`Util.needToImplement`](https://github.com/polypheny/Polypheny-DB/blob/master/core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/util/Util.java#L712) method may throw a `RuntimeException` with a `null` message if the object that caused the exception is `null` itself.

This may happen in [`SqlValidatorImpl.getValidatedNodeType`](https://github.com/polypheny/Polypheny-DB/blob/master/core/src/mai

[2019-12-27 22:08] nilshansen94 commented on #119
Fixed in https://github.com/polypheny/Polypheny-UI/commit/af64fbd4e126f7f55b005078320708036ea5d219

[2019-12-28 13:33] vogti commented on #121
The uniqueness of the unique name is not checked in the deploy dialog.

[2019-12-28 13:36] vogti commented on #119
Currently the redirect happens independent of the outcome of the deployment. Is it possible to do the redirect only if the deployment has been successful?

[2019-12-28 13:38] #120 closed

[2019-12-30 16:27] nilshansen94 commented on #121
Fixed in https://github.com/polypheny/Polypheny-UI/commit/4b268a5e6e8b6cdf02a223d12eb751fe84e5932d

[2019-12-30 16:27] nilshansen94 commented on #119
Fixed in https://github.com/polypheny/Polypheny-UI/commit/4b268a5e6e8b6cdf02a223d12eb751fe84e5932d

[2020-01-01 14:46] #121 closed

[2020-01-01 14:47] #119 closed

[2020-01-04 14:38] vogti opened #153 "Implement workload-dependent background task scheduling"
Additional to the periodic background task scheduling there should also be one with takes the current (and predicted) workload into account.

[2020-01-21 09:35] #133 closed

[2020-01-21 09:35] #124 closed

[2020-01-24 07:17] #123 closed

[2020-01-24 07:18] #130 closed

[2020-01-24 08:40] nilshansen94 commented on #128
The code where the url of the UI was specified in the backend was actually not being used.

[2020-01-24 12:43] #145 closed

[2020-01-24 12:50] #128 closed

[2020-01-24 12:55] #136 closed

[2020-01-24 23:06] vogti opened #160 "Replace logo and favicon in Polypheny UI"
Fix favicon and replace logo.

[2020-01-25 10:55] vogti opened #161 "Display additional error information in the UI"
Display addtional information on an error when clicking on it (like stack trace of exceptions and full message).

[2020-01-25 11:05] vogti opened #162 "Execute and load on demand in information manager"
Instead of periodically adding new values to the information manager (which consumes resources and is often not satisfying because of low update frequencies) it would be better to only execute the methods for collecting the information displayed on a page if this specific page is requested in the UI. Make sure to fallback to periodic mode if there are other observers than the UI.

[2020-01-26 16:37] vogti opened #166 "The dbms module needs to contain imports for all maven repositories used in one of the other modules"
Check if this behavior is intended and correct.

[2020-01-27 14:13] vogti opened #168 ""Action-Buttons" in monitoring view"
Allow to add buttons to information pages. These buttons should have a method or lambda associated which is executed when the button is pressed.

A application of this is aborting running transactions.

[2020-01-27 15:33] schoenja opened #169 "Implement transaction handling for the Cassandra Adapter"
Transaction handling with cassandra is difficult, due to the fact that cassandra/cql does not support RDBMS ACID transactions.

[2020-01-27 15:39] schoenja opened #170 "Improve Cassandra adapter"
Improvements:
- [ ] Converter Rules: make sane check whether conversion can happen
- [ ] Pushing down: implement additional features, like aggregate functions

[2020-01-27 15:41] schoenja opened #171 "Add missing cassandra store features"
Missing:
- [ ] `addColumn`
- [ ] `dropColumn`
- [ ] `updateColumnType`

[2020-01-27 15:42] schoenja opened #172 "Add view support to cassandra adapter"

[2020-01-27 15:43] schoenja opened #173 "Cassandra integration tests"
Add integration tests.

**BLOCKED**: This issue is blocked until #167 is merged, as it contains bug fixes required to implement the tests.

[2020-01-27 17:08] #134 closed

[2020-01-27 17:14] vogti opened #174 "New hub users are always admin"
If creating a hub user in the UI, this user is always an admin independent of the selection.

[2020-01-27 17:32] vogti opened #175 "Only one save settings button"
Remove the (broken) save setting buttons in the header of the groups and introduce one (large) save settings button per page (similar to the run button in the plan builder).

![grafik](https://user-images.githubusercontent.com/1682115/73198263-0caca500-4133-11ea-8027-160928be0ec7.png)

[2020-01-27 18:29] nilshansen94 commented on #174
Also fixed by https://github.com/polypheny/Polypheny-Hub/commit/a32fc2d6b7a0629dc291db3df0c1c8cd23cbc43d

[2020-01-28 12:10] schoenja opened #177 "Physical Name field for catalog table and column"
~~Add a `physical_name` attribute to both the `table` and `column` tables of the catalogue.~~

After some investigation: the `physical_name` attribute would have to be added to `data_placement` for tables, and a `data_placement` like table for columns would have to be created.

This would allow for a few features to be implemented:
- [ ] Add existing tables to the catalogue, with their respective

[2020-01-28 12:10] schoenja commented on #177
@vogti i'd love to hear your input on this

[2020-01-28 16:43] schoenja commented on #177
**WIP**: Possible way to change this:

Catalog DB Relation:
[code]

Additional functions in `Catalog.java`:
[code]

[2020-01-29 09:16] #174 closed

[2020-01-29 10:02] vogti opened #178 "Hub URL is not allowed to contain a trailing slash"
If the hub URL has a slash at the end, it is not working. Allow the URL to include a trailing slash to improve UX.

[2020-01-29 10:34] #135 closed

[2020-01-29 10:49] vogti opened #179 "Wrong position of separation line in refinement options of graphical querying"
![grafik](https://user-images.githubusercontent.com/1682115/73350216-eac73580-428c-11ea-8665-42e59951a0a5.png)

[2020-01-29 11:10] vogti opened #180 "Missing parentheses in queries generated by the refinement options of the graphical querying"
The query should contain parentheses to group conditions. Otherwise, the result is either not intuitive or wrong.

I suggest adding parentheses around all conditions caused by one option and additional parentheses around all options for one column. For the blow example, this would mean:
[code]
It can be discussed whether it makes more sense to connect the outer parentheses (options for a column) b

[2020-01-29 16:07] datomo commented on #179
Fixed by [c46eae4e06d2dec5a9048ebe599248aeea546f72](https://github.com/polypheny/Polypheny-UI/commit/c46eae4e06d2dec5a9048ebe599248aeea546f72) in [Polypheny-UI](https://github.com/polypheny/Polypheny-UI)

[2020-01-29 16:07] #179 closed

[2020-01-30 12:32] isabelge commented on #180
Fixed by commit [20707898b578a8b198d04783c9b0e63323ca5039](url) in [Polypheny-UI](url)

When possible I used IN () instad of OR so that the SQL statement doesn't get that long.

`WHERE (public.emps.commission BETWEEN 758 AND 1000
OR public.emps.commission IN (400,500))
AND public.emps.name IN ('Eric', 'Theodore')`

[2020-01-30 13:16] vogti commented on #180
There is now a bug for queries containing a join (and corresponding join conditions) and at least two additional where conditions.

![grafik](https://user-images.githubusercontent.com/1682115/73452616-811d5900-436a-11ea-94c3-f5c7d110609e.png)

In this example, the generated query looks like this:
[code]

To reproduce this, you have to add a foreign key constraint.

[2020-01-30 16:28] #180 closed

[2020-01-30 16:33] vogti commented on #180
Fixed in [5f78d8da4872da37550852936fdb3af5cb77a549](https://github.com/polypheny/Polypheny-UI/commit/5f78d8d).

[2020-01-31 13:25] nilshansen94 commented on #178
Can you make an example of a URL that does not work?
For me, the following work:
https://hub.polypheny.org/index.php
https://hub.polypheny.org/
https://hub.polypheny.org
What is not supported is the following (and I don't consider this a valid URL):
https://hub.polypheny.org/index.php/

[2020-02-01 13:13] vogti commented on #160
Fixed in [0882d18](https://github.com/polypheny/Polypheny-UI/commit/0882d181711f0c10d3e0cc77840a3b38f4f9d9ef).

[2020-02-01 13:13] #160 closed

[2020-02-01 14:54] #178 closed

[2020-02-01 19:30] vogti opened #183 "Support linking existing tables in UI"
Add UI support for the feature introduced with #142.

[2020-02-01 19:33] vogti opened #184 "More space in Plan Builder"
Increase the available space in the Plan Builder. Allow horizontal scrolling if necessary.

[2020-02-01 19:34] vogti opened #185 "Allow to access query analyzer from Plan Builder"

[2020-02-01 19:41] vogti opened #186 "Improve Query-by-Gesture integration"
Add a button in the right menu which opens a dedicated window showing the camera stream, the recognized gestures and additional instructions.

It should be possible to deploy, run and stop the Query-by-Gesture stack from within the UI.

The currently selected operator should be highlighted in the UI (e.g. by a green frame).

In Query-by-Gesture-Mode, the input fields in the operators should be rep

[2020-02-01 19:43] vogti opened #187 "Add an icon for indicating administrator status in the hub account overview"

[2020-02-01 19:58] vogti opened #188 "Improve query parsing SQL console in the UI"
It is currently not possible to execute queries containing a ";". For example:
[code]

[2020-02-02 18:32] schoenja commented on #166
After some looking into this I can't really say much more than: I still don't know whether this is required behaviour due to the way the project is structured or that it is a bug. I will keep looking.

[2020-02-03 20:12] christianfrei opened #189 "Outdated version of UI in maven repo"
The version of the web ui deployed to the maven repo is outdated.

[2020-02-03 21:06] schoenja commented on #189
We should probably create some form of automation that is based on github releases which then updates the libs on maven.

[2020-02-09 12:26] vogti opened #191 "Support for temporal types in graphical query builder"
The graphical query builder only supports building conditions for numerical and character types. Adding support for temporal types requires extending to the statistics manager in Polypheny-DB (`org/polypheny/db/statistic/StatisticsManager.java`) and the corresponding component in the Polypheny-UI.

[2020-02-09 12:35] vogti opened #192 "Additional options for character columns in graphical query builder"
The graphical query builder does currently only support specifying how character column should start. It would be beneficial to also add an `ends with` and `contains` option.

[2020-02-09 12:49] vogti opened #193 "UI loses connection to Polypheny-DB"
The UI loses connection for instance in the query analyzer.

Further analyze in which situations the UI loses connection.

[2020-02-09 13:03] vogti opened #194 "Correct rendering of HTML in data placement table"
Manuel placements should be displayed bold in the data placement overview in the schema manager. The HTML is currently not rendered.

**Steps to reproduce:**

- Add placement for a table
[code]

- View placements in schema manager
`http://HOST:8080/#/views/schema-editing/public.emps`

[2020-02-09 18:44] schoenja opened #195 "Improve log messages"
Currently there are a lot of log messages that lack context.

e.g. in `CassandraStore.java`: `"WARN reloadSettings is not implemented yet."`. If this is all we see in a log, we do not know nearly enough to solve the issue.

This issue has two parts:
- [ ] How to improve the log format?
- [ ] Implement the log format uniformly.

[2020-02-10 10:20] schoenja opened #196 "Update gradle build java encoding options"
Update the way java encodings are set in the build files.

The old style is:
[code]

The new style should be:
[code]
as seen in `core/build.gradle`

[2020-02-10 17:15] #177 closed

[2020-02-18 14:55] nilshansen94 commented on #75
It works (not committed yet). But the generated names get a bit ugly, because every time the user goes to the schema management or uml page, the counter of the auto generated name is increased. Would it be possible to edit the method in such a way that the counter of the generated name is only increased if necessary? Or do you want to have this feature in the UI despite the described behavior?

[2020-02-18 15:30] nilshansen94 commented on #63
@vogti what do you think about [flatpicker](https://www.npmjs.com/package/flatpickr) ([demo](https://flatpickr.js.org/examples/))? Can you test it on an iPad?

[2020-02-18 22:16] vogti commented on #63
Looks good and works perfectly on iPhone. On iPad it does not react well and is also slightly broken:
![grafik](https://user-images.githubusercontent.com/1682115/74782837-923ff280-52a4-11ea-8ff8-c994b277f874.png)

[2020-02-18 22:22] vogti commented on #75
Yes, I know. But I think this is ok. It is better to make sure that we have no duplicates.

[2020-02-22 16:34] schoenja opened #203 "Automaticly deploy stores with docker"
Implement a way to automatically deploy a store with docker when it is created.

[2020-02-26 16:57] nilshansen94 commented on #194
This issue was fixed in https://github.com/polypheny/Polypheny-UI/commit/50dbbdda07878b5419ec038a5f11600bf26443c2
(see https://github.com/polypheny/Polypheny-DB/issues/112)

[2020-03-07 20:18] vogti commented on #86
Writing `drop tablename` or `truncate tablename` activates the button but nothing happens when clicking it.

[2020-03-07 20:47] vogti commented on #102
A really like the new design of the operator bar. Have you tried to use the corresponding relational symbol instead of a generic one? Or does this look to cheesy?

TableScan: DB Symbol
Join: ⋈
Filter: σ
Project: π
Aggregate:
Sort: Pfeil Auf- und Ab
Union: ∪
Minus: −
Intersect: ∩

[2020-03-07 21:10] vogti commented on #112
Adding a store already having a placement of this table returns a success message.

[2020-03-07 21:24] vogti commented on #111
Only show stores that support schema changes

[2020-03-07 21:30] vogti commented on #63
Is it possible to select the current value when editing?

[2020-03-07 21:31] #49 closed

[2020-03-07 21:31] #194 closed

[2020-03-07 21:31] #161 closed

[2020-03-07 21:31] #185 closed

[2020-03-07 21:31] #75 closed

[2020-03-08 14:43] vogti opened #205 "Unable to override LIMIT in query console"
It is not possible to specify another limit when executing a query in the query console in the UI.

[2020-03-10 09:33] nilshansen94 commented on #110
The fullWidth option needs to be set on the InformationPage.

[2020-03-10 09:42] nilshansen94 commented on #51
Some examples to show the basic usage:
[code]
See InformationServerTest.java for more examples.

[2020-03-18 22:58] #86 closed

[2020-03-18 23:00] vogti commented on #102
This is awesome!

[2020-03-18 23:00] #102 closed

[2020-03-18 23:02] #77 closed

[2020-03-20 14:31] schoenja opened #207 "Cassandra adapter does not support Sort push down."

[2020-03-21 13:51] #63 closed

[2020-03-21 13:59] vogti commented on #111
The "none" in the store list is somehow misleading. "auto" would be better.

[2020-03-21 14:01] #112 closed

[2020-03-21 14:47] #162 closed

[2020-03-21 15:04] vogti commented on #110
There seems to be a bug for elements of type code.

[2020-03-21 15:21] vogti commented on #168
To use this for e.g. aborting transactions we need support for specifying a parameter. To make things easy, I think an optional String parameter would be sufficient.

[2020-03-21 16:09] #51 closed

[2020-03-21 20:57] vogti opened #208 "Lines in query plan analyzer"
Some of the lines in the query plan viewer are not straight.

![IMAGE 2020-03-21 21:54:07](https://user-images.githubusercontent.com/1682115/77236411-80f94700-6bbe-11ea-95af-91bb29f4030a.jpg)

[2020-03-24 12:55] #61 closed

[2020-03-24 12:57] #110 closed

[2020-03-24 13:11] #111 closed

[2020-03-25 14:43] #205 closed

[2020-03-25 14:45] #168 closed

[2020-03-28 12:41] vogti opened #212 "Support for page groups in Information Manager"
Allow to group pages with a label.

[2020-03-29 11:19] vogti opened #213 "Add pagination for query results"
Add pagination for results of queries executed via the query console in the UI. This would allow to (optionally) remove the automatically added limit clause.

[2020-04-11 13:34] vogti opened #287 "Allow to abort running benchmarking jobs from Chronos Control"
Implement the abort method to allow aborting a running benchmarking job including its queries (stop Polypheny?)

[2020-04-13 12:22] schoenja opened #218 "Type conversion matrix"
Create a conversion matrix that gives information on which types can be converted to other types.

This should also include information on how the conversion should happen, e.g. what boolean `true` converts to as a string: `"true"`, `"True"`, and/or `"TRUE"`.

[2020-04-17 19:36] #171 closed

[2020-04-28 17:01] #193 closed

[2020-04-28 17:01] #208 closed

[2020-04-30 09:13] vogti opened #222 "More sophisticated approach for managing store logos"
Currently, the logos used in the store view in the Polypheny-UI are stored in the sources of the UI itself. All other information (description, store name) is defined in the store implementation itself. In order to simplify the process of adding new stores it would make sense to also store the logos in Polypheny-DB sources together with the adapter implementation.

[2020-04-30 09:16] vogti opened #223 "Show complete stacktrace in UI"
Currently, the UI only displays the stacktrace of the "top-level" exception. It would be beneficial to also display the stacktrace of all wrapped exceptions.

[2020-04-30 09:19] vogti opened #224 "Display stacktrace for failed queries in Polypheny-UI"
Add a query analyzer page containing the complete stacktrace if a query executed in the query console throws an exception while execution.

[2020-04-30 09:26] vogti opened #225 "UI: Enforce tables having a primary key"
Polypheny-DB now requires every table having a primary key. The UI should support the user by validating this.

[2020-04-30 15:33] vogti opened #226 "Add UI support for Config type Clazz, ClazzList, Enum and EnumList"
While backend support is done, there is not yet support for these types in the UI.

[2020-05-03 12:21] vogti opened #227 "UI connection issue in query analyzer"
When executing a query in the query console of the UI, waiting a certain time (5-7 minutes seem to be sufficient) and then executing the same or another query again, the query analyzer page list is empty (see screenshot).

![Bildschirmfoto 2020-05-03 um 14 20 54](https://user-images.githubusercontent.com/1682115/80914048-5bc53000-8d49-11ea-8169-fa09b81968d2.png)

[2020-05-04 12:09] nilshansen94 commented on #226
- [x] Clazz
- [ ] ClazzList
- [ ] Enum
- [ ] EnumList

[2020-05-15 10:27] vogti opened #231 "UI: Missing quotes for table name in remove placement"
If removing a placement from the schema view, the table name is not quoted in the generated SQL statement. This can be tested with a table with the name "user".

[2020-05-17 13:30] vogti opened #232 "Support changing order of columns in schema view of Polypheny-UI"
It should be possible to reorder the columns in the schema table view in the Polypheny-UI. Polypheny-DB overs support for this using the following SQL command:
```ALTER TABLE [ databaseName . ] [ schemaName . ] tableName MODIFY COLUMN columnName SET POSITION ( BEFORE | AFTER ) columnName```

[2020-06-13 11:56] vogti commented on #196
Fixed in #235.

[2020-06-13 11:56] #196 closed

[2020-06-13 11:58] #62 closed

[2020-06-27 19:31] #231 closed

[2020-06-27 19:42] vogti commented on #64
Can you display "length" istead of "precision" as parameter name for Varchar in the UI?

[2020-07-05 13:59] vogti opened #239 "Zero is not displayed for config values in Polypheny-UI"
If a numeric config is set to zero, the value is not displayed in the UI (an empty field is shown instead).

[2020-07-07 07:12] #64 closed

[2020-07-07 07:28] #225 closed

[2020-07-07 08:12] vogti opened #240 "Alphabetical ordering for pages in the query analyzer"
It is quite inconvenient that the order of pages in the query analyzer randomly changes with every query.

In combination with #212 the pages should be order alphabetically within the group. The groups should either be ordered alphabetically as well, or we introduce a position key.

[2020-07-07 08:18] vogti opened #241 "Information code elements are selected by default"
The text in information code elements are selected by default. It should furthermore not be possible to modify the code.

[2020-07-07 08:28] vogti opened #242 "Temporal types are wrongly displayed in the query plan builder"
Temporal types (date, time, timestamp) are displayed as number in the result table of the query plan builder.

[2020-07-07 09:35] vogti opened #243 "Beautify store overview"
The cards in the store overview currently have different heights.

![Bildschirmfoto 2020-07-07 um 11 30 04](https://user-images.githubusercontent.com/1682115/86760146-4c15e080-c045-11ea-81e6-1d71007d4a2e.png)

I would suggest setting a fixed width and height. The number of cards displayed in one row would than depend on the size of the browser window.

[2020-07-08 12:20] vogti commented on #125
There is not yet SQL support for modifying foreign keys.

[2020-07-13 22:03] #241 closed

[2020-07-13 22:06] vogti commented on #224
Can you please set the stacktrace element to full-width.

<img width="1323" alt="Screenshot 2020-07-14 at 00 05 47" src="https://user-images.githubusercontent.com/1682115/87358306-cecafe00-c565-11ea-9cd1-6af191b788f8.png">

[2020-07-13 22:11] #239 closed

[2020-07-13 22:13] vogti commented on #240
Can you please also do this for the list of pages in monitoring and config?

[2020-07-13 22:15] #223 closed

[2020-07-13 22:18] vogti commented on #212
Very nice :)
What do you think about adding a bit of margin above the label?

<img width="312" alt="Screenshot 2020-07-14 at 00 17 25" src="https://user-images.githubusercontent.com/1682115/87359147-91677000-c567-11ea-857d-3d6e7d719924.png">

[2020-07-14 06:16] #226 closed

[2020-07-14 06:58] vogti commented on #52
Fixed in [fc20267](fc2026743cca4268df813cd87bd85075d623586f)

[2020-07-14 06:58] #52 closed

[2020-07-14 21:01] #224 closed

[2020-07-14 21:02] #240 closed

[2020-07-15 07:05] #212 closed

[2020-07-15 11:47] #132 closed

[2020-07-15 11:50] #129 closed

[2020-07-15 11:51] #187 closed

[2020-07-15 13:03] #131 closed

[2020-07-15 17:37] #126 closed

[2020-07-15 17:39] #137 closed

[2020-07-15 17:48] vogti opened #245 "Advanced data placement management in Polypheny-UI"
Implement a drag-and-drop based management view for configuring data vertical partitioning, horizontal partitioning and replication.

[2020-07-15 17:50] vogti opened #246 "Interface manager for Polypheny-UI"
Implement a management view for interfaces similar to the store management.

[2020-07-15 17:53] vogti opened #247 "Beautify schema management in Polypheny-UI"
Make the schema management in the Polypheny-UI look even better.

[2020-07-15 18:00] vogti opened #248 "Alphabetical order for table names in schema overview"
![Image 15 07 20 at 19 59](https://user-images.githubusercontent.com/1682115/87579175-ceea0b80-c6d5-11ea-9d0e-6774fe5e036b.jpg)

[2020-07-15 19:36] vogti opened #249 "Time in sql query history"
The sql query history in the UI only displays the time. It would be better to display yesterday, the day of week or the date if the query hasn't been executed at the same day.

[2020-07-15 20:31] #10 closed

[2020-07-15 20:31] #8 closed

[2020-07-15 20:33] #47 closed

[2020-07-17 10:44] #243 closed

[2020-07-17 11:44] nilshansen94 commented on #249
See https://github.com/polypheny/Polypheny-UI/commit/97d9261e4dd51e1163956e2588e6814f11670bf6

[2020-07-17 11:59] #249 closed

[2020-07-17 16:10] #242 closed

[2020-07-17 16:19] #248 closed

[2020-07-17 16:56] #100 closed

[2020-08-24 08:29] vogti opened #254 "Better import for Plan Builder"
Add a larger text field and add support for uploading a file.

![grafik](https://user-images.githubusercontent.com/1682115/91021846-9e5e9100-e5f4-11ea-8ad0-8c2facabf27f.png)

[2020-08-24 08:31] vogti opened #255 "Rendering bug in UI query plan builder"
There is a rendering bug in the query plan builder. In Firefox, it happens nearly all the times.

![grafik](https://user-images.githubusercontent.com/1682115/91021939-c51cc780-e5f4-11ea-9a17-e17f90478822.png)

[2020-08-24 08:53] vogti opened #256 "Add support for functions in query plan builder"
Currently it is only possible to model aggregation functions in the query plan builder. Other functions like `abs`, `knn` or `sqrt` are not possible.

Functions can have a different number of parameters. E.g.:
`random`: No parameter
`abs`: 1 Parameter
`power`: 2 Parameters
`knn`: 3-4 Parameters

[2020-12-03 13:04] #73 closed

[2021-01-13 09:59] #246 closed

[2021-02-12 23:51] datomo opened #277 "SQL aggregations return incorrect values"
Aggregate functions seem to always return the same value MIN of the column (tested MIN, MAX and COUNT).

![SQL_aggregate](https://user-images.githubusercontent.com/5930207/107833741-87734d00-6d94-11eb-96d8-26bec1e2b2d0.png)

Tested when using the frontend, as well as `StatisticQueryProcessor`.

[2021-02-13 08:55] vogti commented on #277
It seems to be a caching issue. After resetting the cache, it returns the correct result for the first aggregation query executed and then continues to return that result regardless of the query. I am looking into the problem.

[2021-03-01 10:23] #277 closed

[2021-03-01 10:24] #213 closed

[2021-03-01 10:25] #189 closed

[2021-03-01 10:29] vogti commented on #142
Implemented by Data Sources ( #275 )

[2021-03-01 10:29] #142 closed

[2021-03-01 10:30] vogti commented on #66
Implemented with Data Sources ( #275 )

[2021-03-01 10:30] #66 closed

[2021-03-01 10:31] #118 closed

[2021-03-01 10:32] #95 closed

[2021-03-01 10:40] vogti commented on #93
Polypheny-DB supports `CURRENT_TIME`, `CURRENT_DATE` and `CURRENT_TIMESTAMP`.

[2021-03-01 10:40] #93 closed

[2021-03-01 10:41] #96 closed

[2021-03-01 10:45] #122 closed

[2021-03-01 10:46] #166 closed

[2021-03-01 10:47] #183 closed

[2021-03-01 10:56] vogti commented on #192
Implemented using full search support

[2021-03-01 10:56] #192 closed

[2021-03-01 10:57] #45 closed

[2021-03-05 10:34] #65 closed

[2021-03-05 10:38] #80 closed

[2021-03-05 10:57] vogti commented on #151
Indirectly fixed by adding a null check for the validation exception message in the SQL query validation on instantiation of AvaticaRuntimeException.

[2021-03-05 10:57] #151 closed

[2021-03-05 10:58] #227 closed

[2021-03-05 11:02] #172 closed

[2021-03-05 12:16] vogti commented on #207
Moved into #207

[2021-03-05 12:16] #207 closed

[2021-03-05 12:17] vogti commented on #173
Moved into #170

[2021-03-05 12:17] #173 closed

[2021-03-05 12:18] vogti commented on #169
Moved into #170

[2021-03-05 12:18] #169 closed

[2021-03-05 12:22] vogti commented on #70
This is no longer necessary and would also - given the complexity and features of Polypheny-UI - introduce a lot of issues.

[2021-03-05 12:22] #70 closed

[2021-03-09 20:55] S-Harshit commented on #188
Hi, my name is Harshit I wanted to contribute to Polypheny for GSOC'21 and this looks like a good issue to start with so I want to work on it

[2021-03-09 21:24] vogti commented on #188
Hi Harshit, welcome to Polypheny! I have assigned the issue to you.

[2021-03-10 06:16] prinsusinghal commented on #175
Hi, I am Prateek Agarwal from IIT Roorkee. I want to contribute to Polypheny for GSOC'21 and this looks like a good issue to start with so I want to work on it. Please assign it to me.

[2021-03-10 07:47] vogti commented on #188
@S-HarshitI have just realized that the description of this issue might not be detailed enough. It is only indicated by the issue title and the **A-ui** label that this issue only occurs when submitting SQL queries using the UI. Polypheny-DB itself is able to execute queries containing semicolons since internally, a query is always one statement and does never consist of multiple statements.

The

[2021-03-10 08:04] herkura commented on #125
Hi, my name is Hershil  I wanted to contribute to Polypheny for GSOC'21. This seems to be a nice start for a good first issue. Can I work on it? My skills are Java (non-andriod) MySQL python ,HTML css.

[2021-03-10 13:18] datomo opened #280 "Disabling SCHEMA_CACHING breaks WHERE clauses"
Disabling SCHEMA_CACHING seems to break queries which include WHERE clauses for Jdbc Adapters.
This, due to the fact that JdbcEnumeratorConverterRule gets added a second time to the planner, which is forbidden.

![grafik](https://user-images.githubusercontent.com/5930207/110631592-f92d9380-81a6-11eb-9136-a004331f9ab5.png)

[2021-03-10 14:37] vogti opened #281 "Bad lines in query plan view"
There is a minor rendering bug in the query plan view of the Polypheny-UI.

![Bildschirmfoto 2021-03-10 um 15 23 39](https://user-images.githubusercontent.com/1682115/110644414-5af4fa00-81b5-11eb-857f-a7b3cdba9602.png)

This issue can be reproduced by executing the following query in the SQL query console and opening the physical plan view:
[code]

The query uses the demo tables available in every

[2021-03-10 14:51] vogti opened #282 "Search function for the query history"
The SQL query history in the UI is extremely helpful. But if you are searching for a query you have executed a long time ago, you need to scroll through the whole list. It would therefore be extremely helpful to add a search function for the query history.

![Bildschirmfoto 2021-03-10 um 15 45 01](https://user-images.githubusercontent.com/1682115/110647156-df487c80-81b7-11eb-94e5-4c3e0b0a8932.png)

[2021-03-10 15:11] S-Harshit commented on #188
@vogti I am having a little trouble setting up the environment I read the documentation but I am still having issues so if their is a  dev mailing list or something where I can ask about issues related to setting up the environment ,I didn't wanted to ask here since it is not related to this particular issue.

[2021-03-10 15:23] vogti commented on #188
@S-Harshit I took your question as an opportunity to activate the GitHub discussion function: https://github.com/vitrivr/cottontaildb/discussions We already planned to do that since quite some time. This allows us to keep everything at one place.

[2021-03-10 15:30] vogti opened #284 "Allow to specify colors for graphs"
When adding information elements of type graph, the colors are always picked in the same order. It would be very beneficial if colors can be specified. This requires adding a `setColors` method to `information/src/main/java/org/polypheny/db/information/InformationGraph.java` in Polypheny-DB. Furthermore, the rendering needs to be adjusted in Polypheny-UI.

[2021-03-10 15:33] vogti commented on #188
Please make sure this link: https://github.com/polypheny/Polypheny-DB/discussions I first copied the wrong link.

[2021-03-11 03:59] y-martinez commented on #284
Hi! I am Ybrahin Martinez, I would like to apply to Polypheny in the GSoC 21. To start with my contribution to the community I want to work on this issue. Is it available? If so, could you please assign me it? Thanks!

[2021-03-11 07:34] vogti commented on #284
Hi Ybrahin, welcome to Polypheny! Yes, this issue is available. I have assigned the issue to you. Please notice, that solving this issue requires changes to Polpyheny-DB and Polypheny-UI. You can find a setup-guide for a Polypheny-Db dev environment in the discussion forum. A guide for UI development is available on the website.

[2021-03-11 11:08] S-Harshit commented on #188
![image](https://user-images.githubusercontent.com/65359506/110777778-821bfc00-8287-11eb-9808-5fc8ef559a95.png)

does it have to sperate queries even when they are entered in same line? (example as in image)
because I decided to do str.split(";\n") , it works except if the input has multiple query in the same line.

[2021-03-11 11:58] vogti commented on #188
This is indeed not a bad idea to split by semicolon followed by a line break. But as you have pointed out, this does not work for multiple queries in one row. Furthermore, this will also cause other issues, e.g.:

- If the value contains a line break `select * from emps where name like ';\n';` Of course, more unlikely than a single semicolon but possible.
- If there is a space after the semicolon.

[2021-03-11 14:10] S-Harshit commented on #188
Tests are failing on my pull request, have I missed something?

[2021-03-11 22:44] vogti commented on #188
There has been an issue with the tests on the GitHub Actions CI. We just migrated to GitHub Actions a few days ago, since Travis discontinued its open source plans. So there still some minor issues we are working on. The tests are now running again.

[2021-03-12 07:35] earthshakira commented on #282
I'm planning to work on this issue is it alright ?

[2021-03-12 10:04] S-Harshit commented on #125
May I work on this?

[2021-03-12 12:14] vogti commented on #125
Of course :)

[2021-03-12 12:36] vogti commented on #282
Hi Shubham, welcome to Polypheny! I have assigned the issue to you. Feel free to ask here or open a thread in the [discussions forum](https://github.com/polypheny/Polypheny-DB/discussions) if you have any questions or experience any issues with setup. This also helps us to improve our documentation.

[2021-03-12 13:05] #188 closed

[2021-03-12 13:34] earthshakira commented on #282
Hi the instructions were pretty good and setup was very easy, I was able to complete most part of this issue, here's the [pull request](https://github.com/polypheny/Polypheny-UI/pull/40). Please guide me in the review process. Thanks and Regards

[2021-03-13 15:03] prinsusinghal commented on #175
Hi @vogti, I have set up the environment on my pc using polypheny-control but now I am stuck on how to proceed. Can you please guide what to do next?

[2021-03-13 15:19] vogti commented on #175
Polypheny Control makes it easy to set up and update Polypheny-DB, but it is not suitable for doing development. Please follow [this](https://github.com/polypheny/Polypheny-DB/discussions/286) on how to set up Polypheny-DB in your favorite IDE and [this](https://polypheny.org/documentation/UI-Dev-Env/) guide on how to manually build Polypheny-UI.

[2021-03-13 16:58] S-Harshit commented on #125
@vogti I searched the project but I am having a little trouble locating the files (that display the schema of the table after selecting it form the left sidebar) so if you can give me some hints also do I have to add another column for foreign key in the existing schema or do I have to create another table, in addition to this what are enforcement options?

[2021-03-13 21:56] y-martinez commented on #284
Hi @vogti!, thanks for the links it was very straight of setup-guide.

I am writing you because I am working on the issue and just for clarification, I need to add the ability to specify a color to elements of type graph, however, it is not very clear to me if do you want that these colors match for each label, I am asking you because, I am using a `HashMap<String, String>` to matching the color a

[2021-03-14 07:03] suryam35 commented on #218
Hi , I would like to take up this issue .
Since , I am new to polypheny , it would be of great help if somebody could help me get a lead on what has to be done .

[2021-03-14 08:58] ayu023ban commented on #281
Hi!
 I would like to apply to Polypheny in the GSoC 21. To start with my contribution to the community I want to work on this issue.
Could you please asign me it?

[2021-03-14 09:13] vogti commented on #281
Hi @ayu023ban, welcome to Polypheny! I have assigned the issue to you. Please follow [this](https://github.com/polypheny/Polypheny-DB/discussions/286) on how to set up Polypheny-DB in your favorite IDE and [this](https://polypheny.org/documentation/UI-Dev-Env/) guide on how to manually build Polypheny-UI. Feel free to ask here or open a thread in the discussions forum if you have any questions or

[2021-03-14 10:09] vogti commented on #218
Hi suryam35, this issue is already assigned to me (and also more or less fixed). Please select an issue where nobody is working on. I recommend picking one from with the label [E-good-first-issue](https://github.com/polypheny/Polypheny-DB/issues?q=is%3Aissue+is%3Aopen+label%3AE-good-first-issue).

[2021-03-14 10:22] vogti opened #290 "Railroad diagrams for SQL syntax diagramms"
Railroad diagrams are a nice way for visualizing a syntax. It would be nice if we could also integrate railroad diagrams into the Polypheny website.

I found the JS library [rrdiagram-js](https://github.com/Chrriis/rrdiagram-js) which allows generating such diagrams, but we need to integrate this into the template of our website. It would be good if the BNF source for generating a diagram is not i

[2021-03-14 11:08] vogti opened #291 "Authentication for control"
With [Polypheny Control](https://github.com/polypheny/Polypheny-Control) we have an easy-to-use deployment and update tool for Polypheny-DB. But with the recent and planned additions to Polypheny-DB like querying the file system of the host machine, this tool also adds some severe security issues since the start-up arguments for enabling these features can be changed in Polypheny-Control.

It woul

[2021-03-14 12:45] vogti opened #292 "Fix CLI commands"
The `polypheny-control.jar stop` command seems to be broken. Either fix the command or completely remove the CLI command feature.

[2021-03-14 12:47] vogti opened #293 "Dynamically load log lines from server"
Reduce the amount of log lines which is stored on the client and instead dynamically request them from the server when scrolling.

[2021-03-14 13:16] vogti opened #294 "Allow to specify Polypheny-DB's log level"
Allow configuring the log level of Polypheny-DB on a per class or package basis in Polypheny Control.

[2021-03-14 13:32] vogti opened #295 "Improve design of Polypheny Control on small screens"
The UI of Polypheny Control is very basic and does not work well on smaller screens.

![Bildschirmfoto 2021-03-14 um 14 25 14](https://user-images.githubusercontent.com/1682115/111070262-1f1da580-84d1-11eb-870a-27131ce37eb8.png)

[2021-03-14 14:11] vogti commented on #284
Yes, this is correct. I would suggest adding a `InformationGraph setColors(List<GraphColors> colors)` method to the InformationGraph-class. This method then overrides a default list of colors. This avoids changing the signature of the constructor and makes setting a custom order of columns optional.

Instead of names you can also add a GraphColors Enum with some color names. It should be sufficien

[2021-03-14 17:12] prinsusinghal commented on #295
Hi @vogti , I want to work on this issue to start contributing as a part of GSOC 2021. I saw that this page is disturbed when viewed on smaller screens. So for this I need to make some changes in the front-end part so that this is not disturbed on smaller screens.

[2021-03-14 17:39] prinsusinghal commented on #295
But I am having a doubt. How to set up the development environment for polypheny-control UI?

[2021-03-14 17:53] vogti commented on #295
Hi @prinsusinghal, welcome to Polypheny! It would be great if you can take care of this issue. I have just assigned it to you. There is not much to set up. The code of the small UI is not separated as with Polypheny-UI but also in the Polypheny Control repo. You can find the HTML, CSS and JS files in `/src/main/resources/static/`. Importing Polypheny Control in your favorite IDE is similar as desc

[2021-03-15 04:38] prinsusinghal commented on #295
ok....so firstly I will work on this issue. By the time I am unassigning myself on #175, and later on after completing this issue if issue #175 remains unassigned then I will start working on it otherwise I will work on some other issue.

[2021-03-15 05:55] prinsusinghal commented on #295
@vogti , I have followed the instructions given [here](https://github.com/polypheny/Polypheny-DB/discussions/286), but I am stuck on how to open polypheny-control using its main method. Please guide me what shall I do.

[2021-03-15 08:19] VishalDalwadi commented on #291
Hello. I am Vishal and I would like to participate in GSoC 2021 and contribute to this project. I would like to start by solving this issue.

[2021-03-15 09:02] VishalDalwadi commented on #291
I know I haven't been assigned this problem. But I have thought of a solution. We add a file to store all the name-password combinations. To secure the passwords in this file we can use the [crypt](https://commons.apache.org/proper/commons-codec/apidocs/org/apache/commons/codec/digest/Crypt.html) method. The client `onConnect` must send the name and password, which we verify in the `addClient` met

[2021-03-15 09:48] vogti commented on #291
Hi Ybrahin, welcome to Polypheny! Yes, this issue is available. I have now assigned it to you. Thank you for taking care of this.
Yes, this sounds good! Regarding your questions:
1.) Polypheny stores all files in a `.polypheny` folder in the users home directory. I suggest storing this file there too.
2.) I suggest allowing connections from localhost without authentication as default (with a start

[2021-03-15 10:35] prinsusinghal commented on #295
@vogti , I have created a pull request in the polypheny-control repository. You can review it.

[2021-03-15 13:41] earthshakira commented on #282
Hi! @vogti , the merge is complete at [pull request](https://github.com/polypheny/Polypheny-UI/pull/40). So can this issue be closed ?

[2021-03-15 13:50] earthshakira commented on #191
Hi! @vogti can I work on this issue ?

[2021-03-15 16:14] #282 closed

[2021-03-15 16:17] vogti commented on #191
Yes, of course! It would be great if you can take care of this.

[2021-03-16 08:03] prinsusinghal opened #296 "Compress and Expand icon in search bar of left-sidebar are not working"
Compress and Expand icon in search bar of left-sidebar are not working. And also, they are not required and should be removed as they cause confusion regarding their use.
![2021-03-16 (2)_LI](https://user-images.githubusercontent.com/60322217/111275393-1a392d00-865c-11eb-9c7c-4ec96c295e7c.jpg)

[2021-03-16 08:08] prinsusinghal commented on #296
@vogti , please verify this issue as in mine its not working. Also if this is a valid issue then I want to work on it.

[2021-03-16 09:14] vogti commented on #296
Yes, they are not required in the monitoring, config, uml, query console and plan builder view. Thanks for pointing this out. It would be great if you can take care of removing these buttons.

[2021-03-16 09:49] prinsusinghal commented on #296
sure I will do that

[2021-03-16 10:07] prinsusinghal commented on #296
@vogti , I have created the pull request. You can review the PR [here](https://github.com/polypheny/Polypheny-UI/pull/42)

[2021-03-16 10:58] nilshansen94 commented on #125
Hi @S-Harshit. Thank you for wanting to work on this issue. The schema view is found in the folder src/app/views/schema-editing. This folder contains three additional angular components. The component you want to work with is the "edit-columns" components.
As mentioned in the description of the issue, the constraints should be displayed in a new, separate table.
The current constraint enforcement

[2021-03-16 11:59] VishalDalwadi commented on #291
@vogti I am able to create the password file, add/remove/modify user data with the commands and secure the start/stop/restart/update commands. Now, I will start with securing the REST API endpoints. I believe I would have to enable SSL to secure the data (password and other data). Can you please confirm this so I can go ahead with the implementation?
Also should I make a separate PR for this and t

[2021-03-16 13:01] nilshansen94 commented on #296
Hi @prinsusinghal, thank you for your work. Unfortunately, the changes were a bit too radical. In some views, the compress and expand buttons are needed. If you go to the schema view or to the graphical querying view, you will see that they are actually very useful there. The correct approach would be to check if the items in the left sidebar are nested. If they are not, the buttons can be hidden.

[2021-03-16 13:30] vogti commented on #291
This sounds very good. Having SSL support would of course be nice. But we would need to generate self-signed certificates on startup and / or have an option to provide SSL certificates. With self-signed certificates we can not really gain much since man-in-the-middle attacks are still possible. I therefore suggest keeping it either completely plain-text or allow enabling SSL support with a config

[2021-03-16 13:44] VishalDalwadi commented on #291
Okay. That sounds good. I would add a config option for ssl certificates.

[2021-03-16 14:21] #295 closed

[2021-03-17 12:26] Chamodii commented on #254
Hi! I'd like to work on this issue.

[2021-03-17 14:09] vogti commented on #254
Hi Vishal, welcome to Polypheny! Thank you for taking care of this. I have assigned the issue to you. Please follow this on how to set up Polypheny-DB in your favorite IDE and this guide on how to manually build Polypheny-UI. Feel free to ask here or open a thread in the discussions forum if you have any questions or experience any issues with setup.

[2021-03-17 14:56] vogti commented on #191
@earthshakira I forgot to mention something (and hope you are not already frustrated due to this). You might be wondering why the system does not calculate statistics for newly added tables. This is currently disabled at default. We are currently working on a new workload monitoring which also integrates the statistics module more efficiently. For the time being you can either enable `Config -> Dy

[2021-03-18 08:20] pandukakarunasena commented on #292
hi I would like to work on this issue

[2021-03-18 17:10] vogti opened #297 "Windows support for Query-to-File"
The query-to-file is not working on Windows.

[2021-03-18 17:15] vogti opened #298 "Support DELETE and INSERT operations in Query-to-File"
Query-to-File does not support deleting a database record (deleting the file) and inserting new rows (by adding a folder containing files).

[2021-03-18 21:55] vogti commented on #292
Hi @pandukakarunasena, welcome to Polypheny! It would be great if you can take care of this issue. I have just assigned it to you. Importing Polypheny Control in your favorite IDE is similar as described for Polypheny-DB [here](https://github.com/polypheny/Polypheny-DB/discussions/286). The main-method is located in `/org/polypheny/control/main/Main.java`.

The description is a bit minimalistic as

[2021-03-19 05:12] pandukakarunasena commented on #292
can you please guide me through  what i have to do .. can we get rid of the feature? i checked up on the libraries that have used to take Command line inputs.. seems like when one command line is opened from the control or tray command we cannot run start, stop, update commands .. can you guide me through this

[2021-03-21 17:29] earthshakira commented on #191
@vogti  Thanks for the patch helps a lot ✌

[2021-03-26 06:06] dlwyl1997 commented on #175
Hi @vogti !
I'm Yulin WANG and I would like to participate in the GSoC 2021 programme. I'm really interested in Polypheny, and I hope to start with this issue if available.
Looking forward to making contributions and cooperating with you all in the future. Thanks!

[2021-03-26 19:19] parassharm80 commented on #184
Hello, I am Paras Sharma. I would like to participate in GSOC 2021 and contribute to this project. I want to start this by solving this issue.

[2021-03-26 21:36] vogti commented on #175
Hi @dlwyl1997, welcome to Polypheny! I have assigned the issue to you. Please follow this on how to set up Polypheny-DB in your favorite IDE and this guide on how to manually build Polypheny-UI. Feel free to ask here or open a thread in the discussions forum if you have any questions or experience any issues with setup.

[2021-03-26 21:39] vogti commented on #184
Hi @parassharm80, welcome to Polypheny! I have assigned the issue to you. Please follow [this](https://github.com/polypheny/Polypheny-DB/discussions/286) on how to set up Polypheny-DB in your favorite IDE and [this](https://polypheny.org/documentation/UI-Dev-Env/) guide on how to manually build Polypheny-UI. Feel free to ask here or open a thread in the discussions forum if you have any questions

[2021-03-27 07:32] HashmiAS commented on #232
Hello, @vogti  I like to get started on this issue so could you assign it to me. Thanks

[2021-03-27 08:14] vogti commented on #232
Hi @HashmiAS. I have assigned the issue to you.

[2021-03-27 17:34] nilshansen94 opened #300 "PostgreSQL maximum multimedia size of 1GB"
The current internal multimedia type of the PostgreSQL store is the BYTEA type. It has the drawback that it can only save up to 1GB of binary data. An alternative would be the OID type, but using this type brings a lot of complexity. For every multimedia insert, the object identifier (OID) has to be stored individually. When a row with a OID is deleted, the binary object is not automatically delet

[2021-03-28 03:46] ArorAnam commented on #293
Hi I would like to work on this issue.

[2021-03-28 14:15] Pawanupadhyay10 commented on #232
hi,@vogti I will like to get started on this issue, will u assign this issue to me . Thanks.

[2021-03-28 14:16] Pawanupadhyay10 commented on #255
hi,@vogti I will like to get started on this issue, will u assign this issue to me . Thanks.

[2021-03-28 14:17] Pawanupadhyay10 commented on #255
I am new here ,May you pls guide me to start working on this issue via assigning this issue to me. Thanks.

[2021-03-28 14:48] vogti commented on #255
Hi @Pawanupadhyay10, welcome to Polypheny! I have assigned the issue to you. Please follow [this](https://github.com/polypheny/Polypheny-DB/discussions/286) on how to set up Polypheny-DB in your favorite IDE and [this](https://polypheny.org/documentation/UI-Dev-Env/) guide on how to manually build Polypheny-UI. Feel free to ask here or open a thread in the discussions forum if you have any questio

[2021-03-28 14:50] vogti commented on #232
Hi @Pawanupadhyay10 @HashmiAS is already working on this issue. But I have assigned #255 to you.

[2021-03-28 14:57] vogti commented on #293
Hi @ArorAnam, welcome to Polypheny! It would be great if you can take care of this issue. I have just assigned it to you. Importing Polypheny Control in your favorite IDE is similar as described for Polypheny-DB [here](https://github.com/polypheny/Polypheny-DB/discussions/286). The main-method is located in `/org/polypheny/control/main/Main.java`. Feel free to ask here or open a thread in the [dis

[2021-03-28 21:34] S-Harshit commented on #125
@nilshansen94 I am not able to find a way to parse enforcement types , I checked the UML to see how Foreign key information is being requested and it is using its  ForeignKey class of the UML.model to store it but I am not able to extract value of update and delete variable that are holding the value of enforcement type inside the ForeignKey class so if you can guide me a little it would be helpfu

[2021-03-29 08:24] nilshansen94 commented on #125
Hi @S-Harshit I updated the backend to include the enforcement types in the UML model and also removed the foreign keys from the constraints table. So the foreign keys will only be displayed in your new table. We will merge the changes soon.
It would also be good to introduce delete support (in the same way than in the other tables with a trash icon. You can use the `delete-confirm` component for

[2021-03-29 08:32] nilshansen94 opened #301 "Make the dataReadOnly property of data-sources a column property"
The architecture of data-sources makes it possible to specify if a whole source is writable or not, using the `dataReadOnly` property. A very useful feature would be to make the `dataReadOnly` property a column property. With this, it would be possible to make certain columns writable, while others are read-only. For example, the `name` column of the `Query-a-file-system` source could be writable

[2021-03-29 14:01] harivansh0 commented on #290
Hi! I am HariVansh, To start with my contribution to the community I want to work on this issue. Is it available? If so, could you please assign me it? Thank you.

[2021-03-29 14:24] vogti commented on #290
Hi @harivansh0, welcome to Polypheny! It would be great if you can take care of this issue. I have just assigned it to you. I think the best approach is to fork the [website](https://github.com/polypheny/Website) and set up a private deployment. Do you have experience with Jekyll?

[2021-03-29 14:47] harivansh0 commented on #290
I will learn Jekyll. I have set up a private deployment. Can you guide me on where to start from?

[2021-03-29 18:39] HashmiAS commented on #232
Hi @vogti
After deep-diving into both the UI and backend packages, I've decided to go forward with the approach of splitting the work into two PRs.

1. Backend polypheny DB PR: This PR will be concerned with the backend server changes to support columns reordering via SQL.
2. UI PR: This one will include the Angular/TS changes including the server call to the backend crud function implemented in P

[2021-03-29 19:56] vogti commented on #290
I think the best approach is to write a Jekyll plugin which replaces a block with BNF by a railroad diagram using the JS library linked above. But you need to look into how to exactly to this. Unfortunately, I can't guide you through writing a Jekyll plugin, as I have never done that myself either.

[2021-03-29 19:58] vogti commented on #232
Hi @HashmiAS This sounds good.

[2021-03-30 02:06] harivansh0 commented on #290
Okay, No problem. I  will try to figure it out.

[2021-03-30 04:08] SantanaJonathan commented on #296
Good day. Excuse me, can you pass me the repository where the project is to be able to make the change. I would appreciate it. Thanks.

[2021-03-30 06:52] nilshansen94 commented on #296
Hi @SantanaJonathan , [here](https://github.com/polypheny/Polypheny-UI) is the link to the Polypheny-UI repository. Feel free to fork the repository and submit a pull request.

[2021-03-30 15:17] S-Harshit commented on #125
link to PR https://github.com/polypheny/Polypheny-UI/pull/43

[2021-03-31 00:43] AyushKadwe commented on #290
Hi, I would like to work on this issue , can you suggest me the proper ways to get started ?

[2021-03-31 07:27] vogti opened #302 "Insert and delete support for Query to File"
The Query-to-File interface does not support deleting and inserting new rows. The semantics of deleting a row could be to delete all files belonging to a row, or only the files that belong to the primary key columns. The insertion of a row could be realized by providing an insert-folder where a user can put new files inside. Every new row could be placed in a new folder.

In the Query-to-File proj

[2021-03-31 07:52] vogti opened #303 "Cache multimedia files in Query-to-File"
Query-to-File requests multimedia files on demand when they are opened. The data is then kept in-memory. Media files larger than the available memory can therefore not be opened using Query-to-File. Also opening several smaller files can exceed the available memory.

In order to fix this, it is required to cache the data on the disk instead of the memory.

[2021-03-31 08:01] #302 closed

[2021-03-31 08:09] vogti opened #304 "Mount result read-only in Query-to-File"
When executing arbitrary queries via Query-to-File, the result is materialized in the mounted folder. Since updating is anyway not support for arbitrary queries (this is only supported in the table mode), it would be beneficial to mount the folder read-only.

Since FUSE supports mounting file systems read-only, fixing this issue breaks down into finding the required options and setting them when e

[2021-03-31 08:13] vogti opened #305 "Indicate if there are uncommited changes in Query-to-File"
It would be great if the Query-to-File interface would show that there are uncommited changes to the materialized query in the mounted file system.

[2021-03-31 08:21] vogti opened #306 "Accept query or table name as argument in Query-to-File"
The Query-to-File tool has a JavaFX interface and simple command line interface. In order to integrate query-to-file into scripts and other applications, it would be useful to allow providing the query or table name as argument. It might also be useful to override configuration options (like the path where to mount the result or the Polypheny-DB host) with a parameter.

[2021-03-31 08:32] vogti opened #307 "Allow editing settings in Query-to-File"
The Query-to-File interface has a config.properties file where certain settings need to be specified. It would be great to integrate these settings into the JavaFX based user interface. Some settings (like the path to fuse binary or the Polypheny-DB host address) should be configurable on startup.

[2021-03-31 08:35] vogti opened #308 "Enlarge images / videos on click"
The data view in Polypheny-UI makes it possible to view images and videos. The multimedia objects in the table view and card view are displayed rather small. It would be great to integrate a lightbox plugin. Preferably, it should be possible to display the information of the other columns in a caption at the bottom, but this is not a must.

A great plugin to use is: https://www.npmjs.com/package/n

[2021-03-31 08:48] nilshansen94 commented on #125
Hi @S-Harshit, thank you for the great work!
I have a few suggestions to change a few details (see the printscreen with some comments). It would be great to have the foreign key table below the constraints table and to have a header "Foreign keys" (I used h6). Also the table in the edit-columns view is missing an empty `<th>` element at the end (see the circle). It would also be good to change the

[2021-03-31 13:19] vogti commented on #290
Hi @AyushKadwe, @harivansh0 is already working on this problem. However, you can select another problem from the [list](https://github.com/polypheny/Polypheny-DB/labels/E-good-first-issue). If you have experience with Jekyll, you can also ask @harivansh0 if he would like to work together with you on this issue. The issue can easily be split into two parts. But it is @harivansh0 decision.

[2021-03-31 13:38] harivansh0 commented on #290
Hi @AyushKadwe  we can both work on this problem. As I have been learning Jekyll I am also trying to figure out how to integrate both modules.
If you want to collaborate please contact me.
Email: harivansh.021@gmail.com
Contact no: +919599271617

[2021-04-01 19:24] nilshansen94 opened #310 "LIKE operator for the file store"
The implementation of the LIKE operator in the file store is not that great. It simply creates a regex pattern of the search string. This is unsafe and not according to the SQL standard. It would be great to implement the correct behavior of the LIKE operator. The code can be found in the following path: `Polypheny-DB/file-adapter/src/main/java/org/polypheny/db/adapter/file/Condition.java`. The im

[2021-04-02 09:56] vogti commented on #175
Hi @dlwyl1997, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-02 09:56] vogti commented on #184
Hi @parassharm80, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-02 09:57] vogti commented on #191
Hi @earthshakira, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-02 09:57] vogti commented on #254
Hi @Chamodii, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-02 09:58] vogti commented on #281
Hi @ayu023ban, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-02 09:59] vogti commented on #284
Hi @y-martinez, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-02 09:59] vogti commented on #291
Hi @VishalDalwadi, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-02 10:03] VishalDalwadi commented on #291
Hi @vogti. Yes, everything is working fine. I am still working on the issue. I think I will be done by monday. I'm sorry I haven't been able to do coding for a few days in the past week. But I will get the task done. Thanks.

[2021-04-02 10:16] dlwyl1997 commented on #175
Thank you and I'm still trying to get familiar with the sophisticated sructure of  the docs and codes in the repository, in order to find the relevant part to this issue. Could you give me a hint about where should I make the changes?
By the way, should I send you my CV to introduce myself recently?
Thanks!

[2021-04-02 11:10] vogti commented on #291
Perfect :) There is no need to hurry. I just wanted to ask if you need any assistance. I am already looking forward to your pull request.

[2021-04-02 12:19] nilshansen94 commented on #175
Hi @dlwyl1997. I admit, the Angular component for the configuration manager could be named in a better way. The component can be found in the following path: `Polypheny-DB-UI/src/app/views/forms/form-generator
`. There you can make the required changes.
We are happy if you can send us your CV by mail.

[2021-04-02 12:21] dlwyl1997 commented on #175
That's helpful. Thanks!

[2021-04-02 13:31] earthshakira commented on #191
@vogti sorry, I was busy with some college work so it's taking extra time, extremely sorry for the delay

[2021-04-02 14:55] vogti commented on #191
No worries. There is no need to hurry. I just wanted to ask if you need any assistance. I am already looking forward to your pull request :)

[2021-04-04 15:03] vogti commented on #293
Hi @ArorAnam, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-04 23:02] syedsafi30 commented on #310
Hello, @nilshansen94 I'd like to work on this issue as part of my contribution for GSOC so please assign this to me.

[2021-04-05 09:16] vogti commented on #310
Hi @syedsafi30, welcome to Polypheny! I have assigned the issue to you. Please follow [this](https://github.com/polypheny/Polypheny-DB/discussions/286) on how to set up Polypheny-DB in your favorite IDE. Feel free to ask here or open a thread in the discussions forum if you have any questions or experience any issues with setup.

[2021-04-06 09:20] Pawanupadhyay10 commented on #255
hey, after setup of ui i got this error, how can i remove it
![image](https://user-images.githubusercontent.com/52281814/113688852-50ac1a00-96e7-11eb-80af-9a3674d7fa77.png)
moreover , let me know in which file i need to add or edit the code so as to complete above task.

[2021-04-06 12:05] nilshansen94 commented on #255
Hi @Pawanupadhyay10, the component for the query plan builder can be found in `/Polypheny-DB-UI/src/app/views/querying/relational-algebra`. There is also a subfolder (`node`) with the component for the plan builder nodes.

[2021-04-06 15:53] Pawanupadhyay10 commented on #255
hi @nilshansen94,i found it in polypheny-ui , but when i went to query->plan builder , then there is no plan and even after using import button , i tried to create a plan and run it using run button on ui ,but no plan created.
![image](https://user-images.githubusercontent.com/52281814/113739943-e6fb3280-971d-11eb-92c6-a7b034ff57e0.png)
why it is so, what i need to do to make a plan on it.
so that

[2021-04-06 16:05] vogti commented on #255
You can drag'n'drop operators from the left menu:

https://user-images.githubusercontent.com/1682115/113742152-9aeec480-9702-11eb-91a2-e278c83ec93c.mov

[2021-04-06 16:44] earthshakira commented on #191
Hi @vogti  thanks for the patch, it's really really helpful.

For the temporal types I have chosen `PolyTypeFamily.DATE , PolyTypeFamily.TIMESTAMP , PolyTypeFamily.TIME`
All of these use the Numeric format so for now I have Inherited the 'NumericalStatisticColumn' as it works for numbers.

It's working for most of the part, The problem it's having is since all of these types give a Long value for

[2021-04-06 17:19] VishalDalwadi commented on #291
Hey, @vogti . I am mostly done but having some problems with ssl. I haven't dealt with ssl before and don't feel confident about it. So I think someone more knowledgable than me should do it.

[2021-04-06 19:36] datomo commented on #191
Hey @earthshakira
I think the easiest way to fix your problem would be to add a field in your `temporalStatisticColumn`, where you save the type (time or timestamp) as string.
When you annotate that field with @Expose it gets serialized automaticly when /allstatistics is called and you can test in the frontend what this fields value is.
The same approach can you use if you want to save the time or

[2021-04-07 10:37] JAgrit20 commented on #308
Sir, if you can pinpoint the file/folder where I shall implement the changes?

[2021-04-07 12:10] nilshansen94 commented on #308
Hi @JAgrit20, the table view and card view can be found in the following directories:
`Polypheny-DB-UI/src/app/components/data-view/data-card`
`Polypheny-DB-UI/src/app/components/data-view/data-table`
Maybe you have to work with the `media` component as well:
`Polypheny-DB-UI/src/app/components/data-view/media`.
To test, you will have to create a table with an IMAGE and VIDEO column and add some d

[2021-04-07 12:31] JAgrit20 commented on #310
@syedsafi30, actually I have already started working on this issue, and almost close to the fix,
I would request you to please work on some other issue,
Thanks in advance

[2021-04-07 12:56] syedsafi30 commented on #310
Hi @JAgrit20, the issue was assigned to me a couple of days ago in which time I have made considerable progress towards it. I'm not sure why you didn't request it to be assigned to you earlier but may be you can look into the other issues which are still open?

Requesting @vogti to clarify what's to be done here.

[2021-04-07 13:11] JAgrit20 commented on #310
I believe you should send your PR first by the end of today and then I will after you, the best one that can be merged with the first preference would be given to you?

[2021-04-07 13:48] vogti commented on #310
Hi @syedsafi30 and @JAgrit20. @syedsafi30 you are right. This issue is and continuous being assigned to you. I am happy to hear that it is working fine for you. If you have any problems, please do not hesitate to ask.

[2021-04-07 15:02] #175 closed

[2021-04-07 15:31] vogti commented on #296
Hi @SantanaJonathan, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-07 15:55] Pawanupadhyay10 commented on #255
![image](https://user-images.githubusercontent.com/52281814/113895380-8dab0600-97e6-11eb-91be-f8557d4fc5c0.png)

hey, see whenever after adding onChange() in the code and saving i made the plan builder and at every 1st time there is no rendering in the UI, in firefox, but after refreshing ,rendering comes in ui.
do you have any suggestions ,what else i can do to remove this bug perfectly from the

[2021-04-07 16:22] nilshansen94 commented on #255
Hi @Pawanupadhyay10, what I can see in the screenshot in the URL is that in the firefox you were on `localhost:8080`. This is the UI served by Polypheny-DB. If you want to see the life changes you made in the code you have to go from `localhost:8080` to `localhost:4200`. I suggest to add a bookmark to avoid this mistake.
What did you do so far to make it work in the Firefox browser? I suppose you

[2021-04-07 18:15] SantanaJonathan opened #325 "Hi @prinsusinghal, thank you for your work. Unfortunately, the changes were a bit too radical. In some views, the compress and expand buttons are needed. If you go to the schema view or to the graphical querying view, you will see that they are actually very useful there. The correct approach would be to check if the items in the left sidebar are nested. If they are not, the buttons can be hidden."
Hi @prinsusinghal, thank you for your work. Unfortunately, the changes were a bit too radical. In some views, the compress and expand buttons are needed. If you go to the schema view or to the graphical querying view, you will see that they are actually very useful there. The correct approach would be to check if the items in the left sidebar are nested. If they are not, the buttons can be hidden.

[2021-04-07 20:36] SantanaJonathan commented on #296
Hi @vogti. I'm working in it. Basically this should fix, what i mention @nilshansen94 in #325.
Also at the time of executing this project I got these errors.
***
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file C:\WINDOWS\system32\cmd.exe
npm ERR! errno ENOENT
npm ERR! Polypheny-UI@1.0.0 start: `ng serve --aot -o`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the Polypheny-UI@1.0.

[2021-04-07 21:47] alinmihaila99 commented on #305
Hi @vogti, I wold like to work on this issue.Can you give me a few more details about it? I also just made the set up for the project, but I don't manage to run it from IntelIJ. What should I set as source?

[2021-04-07 22:17] SantanaJonathan commented on #296
I could already solve it. I already opened the page. Now I need to know which server it is connected to. Because I got a message "Server not responding: HttpErrorResponse: Http failure response for http://localhost:8082/getPageList: 0 Unknown Error". Please. Sorry for the inconvenience Mr. @vogti.

[2021-04-08 06:52] datomo commented on #296
Hey @SantanaJonathan
This error mostly appears when you only have Polypheny-UI running via `ng serve` but not Polypheny-DB itself.
Did you only start Polypheny-DB or Polypheny-UI?
Just report back if this is not the case or you need futhur assitsance..

[2021-04-08 14:16] #325 closed

[2021-04-08 14:31] vogti commented on #305
Hi @alinmihaila99, welcome to Polypheny! It would be great if you can take care of this issue. I have just assigned it to you. Importing [Polypheny Query-to-File](https://github.com/polypheny/Query-to-File) in your favorite IDE is similar as described for Polypheny-DB [here](https://github.com/polypheny/Polypheny-DB/discussions/286). The main-method is located in `src/main/java/org/polypheny/qtf/M

[2021-04-08 15:58] Pawanupadhyay10 commented on #255
hi @nilshansen94 ,whatever changes i made is in polypheny-ui and after this i found that it will be push in polypenyl-ui repo,and i don't have access for it, so can you let me know which files i need to edit in polypheny-DB only  .Not like this "/Polypheny-DB-UI/src/app/views/querying/relational-algebra" because i found this file location in polypheny-ui not in polypheny-db.

[2021-04-09 05:08] Pawanupadhyay10 commented on #255
![image](https://user-images.githubusercontent.com/52281814/114131137-aa972480-991f-11eb-8344-d517cb5554e2.png)
while pushing code,can you guide pls.

[2021-04-09 06:11] nilshansen94 commented on #255
Hi @Pawanupadhyay10, you have to fork the Polypheny-UI project and commit to your own repository. When the changes are ready, you can create a pull request.

[2021-04-09 07:00] Pawanupadhyay10 commented on #255
ok,thanks.

[2021-04-09 09:06] Pawanupadhyay10 commented on #255
Have a look on my PR in polypheny-UI.

[2021-04-09 09:07] Pawanupadhyay10 commented on #308
HI,i will like to contribute on it, Can you assign this issue to me.

[2021-04-09 09:50] vogti commented on #308
Hi @Pawanupadhyay10, @JAgrit20 is already working on this issue, but there are several other interesting issues you can work on.

[2021-04-09 09:53] JAgrit20 commented on #308
@vogti thanks, I am working on this,
 if you can see my timeline which I have submitted as a proposal once for GSOC, please?

[2021-04-09 12:22] #255 closed

[2021-04-09 15:01] Pawanupadhyay10 commented on #184
Hi @vogti , This #184 (inactive) issue and i will prefer to contribute in it if @parassharm80 may don't have any issue regarding it.

[2021-04-09 15:27] vogti commented on #184
@parassharm80 Are you still working on this issue?

[2021-04-09 17:18] parassharm80 commented on #184
Hi, I am stuck on other projects. You can assign this to someone else

[2021-04-09 18:02] SantanaJonathan commented on #296
Good day. My error. I forget to run the Polypheny-DB. I want to run but I don't see the package.json.
How the Polypheny-DB runs? Help me, please. Thanks.

[2021-04-09 18:53] datomo commented on #296
Polypheny-DB is built with Java and therefore does not have a package.json.
The easiest way to run it would be to clone the repo and open it in your IDE, I prefer Intellij.
After opening it, you should automatically have 2 preconfigured task ( Polypheny-DB & Polypheny-DB (RESET)), which start the project.

When Polypheny-DB started correctly you will be able to access it via localhost:8080.
After

[2021-04-09 18:55] vogti commented on #184
Thanks, @parassharm80, for the feedback. @Pawanupadhyay10 I have assigned the issue to you.

[2021-04-10 16:49] #125 closed

[2021-04-11 05:21] Pawanupadhyay10 commented on #184
Hi @vogti  can you make this task more easy to understand via providing a vedio .

[2021-04-11 16:44] vogti commented on #184
Since this is an enhancement and not a bug, it is not really possible to create a video. But I can of course help you to understand the idea of this issue. Which part is unclear for you?

[2021-04-11 20:18] vogti commented on #290
Hi @AyushKadwe, hi @harivansh0, is everything working fine? If you have any issues or need help getting started, please do not hesitate to either ask here or open a thread in the [discussion forum](https://github.com/polypheny/Polypheny-DB/discussions).

[2021-04-12 01:53] harivansh0 commented on #290
Hi vogti, Actutally I am having my final semester exam.That why Development is slow.

[2021-04-12 05:42] vogti commented on #290
I wish you all the best for your exams. Please remember that the deadline for submitting proposals through the GSoC platform is in a few hours. If you have any questions about drafting your proposal, please send us a mail (mail (at) polypheny.org).

[2021-04-12 12:50] Pawanupadhyay10 commented on #184
![image](https://user-images.githubusercontent.com/52281814/114396486-41334200-9bbb-11eb-8f00-9fb223e4e5d8.png)

Hi, @vogti vertical scrolling is already there ,see in image and how much space I need to increase ,is it half of the screen size or less.

[2021-04-12 12:52] vogti commented on #184
Hi @Pawanupadhyay10 this issue is about the plan builder (like #255).

[2021-04-12 13:33] vogti commented on #184
The space is limited by the window size. There is no horizontal scrolling and vertical scrolling is limited.

[2021-04-12 19:05] codewithebs commented on #306
I would like to work on this issue as part of my contribution to google summer of code

[2021-04-12 20:32] vogti commented on #306
Hi @ebs237, welcome to Polypheny! It would be great if you can take care of this issue. I have just assigned it to you. Importing [Polypheny Query-to-File](https://github.com/polypheny/Query-to-File) in your favorite IDE is similar as described for Polypheny-DB [here](https://github.com/polypheny/Polypheny-DB/discussions/286). The main-method is located in `src/main/java/org/polypheny/qtf/Main.jav

[2021-04-12 22:02] ebs237 commented on #307
Thanks ,  I am getting to work, since I only have little time left

[2021-04-12 22:05] ebs237 commented on #306
Thanks , I am getting to work right away

[2021-04-13 02:20] 99Nistha commented on #43
Hello @vogti I would like you to assign me this task, I know I am late in this game, but I have a good understanding of SQL as I had been working around the same in my internship with Walmart labs.

[2021-04-13 07:13] vogti commented on #43
Hi @99Nistha, thank you for taking care of this. I have assigned the issue to you. Please follow [this](https://github.com/polypheny/Polypheny-DB/discussions/286#discussioncomment-463717) on how to set up Polypheny-DB in your favorite IDE and [this](https://polypheny.org/documentation/UI-Dev-Env/) guide on how to manually build Polypheny-UI. Feel free to ask here or open a thread in the [discussio

[2021-04-13 07:38] nilshansen94 commented on #43
To extend the REST interface between Polypheny-DB and Polypheny-UI yon can edit the `Polypheny-DB/webui/src/main/java/org/polypheny/db/webui/HttpServer.java` in the backend and the `Polypheny-DB-UI/src/app/services/crud.service.ts` in the UI.

[2021-04-13 16:49] ebs237 commented on #306
hello I have imported the project and added all needed dependencies but I am still having trouble with running the project

[2021-04-13 16:57] vogti commented on #306
What kinds of issues do you have? What operating system are you using? Which Java version? Do you have a stacktrace?

[2021-04-13 17:00] ebs237 commented on #306
I am running on mac catalina , java version 15.0.2+7-27
I tried running with gradle but it was not successful

[2021-04-13 17:01] ebs237 commented on #306
the debugger pushes this line as an error

log.error("Could nor read line",e)

[2021-04-13 17:02] vogti commented on #306
Do you have stacktrace?

[2021-04-13 17:12] ebs237 commented on #306
sorry for bothering the problem is because  fuse , i don't have it installed. please apart from using homebrew is there any other way by which I can install osxfuse ?

my homebrew keeps emitting errors when when I try to install

[2021-04-13 17:16] vogti commented on #306
Yes, you can install it manually: https://github.com/osxfuse/osxfuse/releases

[2021-04-13 17:17] ebs237 commented on #306
thanks for the help

[2021-04-13 17:43] ebs237 commented on #306
what might be the cause of this

[WebSocketConnectReadThread-58]: an error occurred:java.net.ConnectException: Connection refused
18:34:24.711 ERROR [JavaFX Application Thread]: Could not connect to websocket.

[2021-04-14 05:52] ebs237 commented on #306
please I need help , What could be the cause of this  ?

[WebSocketConnectReadThread-24]: an error occurred:java.net.ConnectException: Connection refused
09:09:39.952 ERROR [JavaFX Application Thread]: Could not connect to websocket.v

[2021-04-14 11:03] S-Harshit commented on #254
If @Chamodii  is not working on the issue, Can I work on it?

[2021-04-14 12:27] vogti commented on #254
Yes, of course. Thank you for taking care of it.

[2021-04-14 15:52] nilshansen94 commented on #306
Hi @ebs237, it looks like you have no Polypheny-DB instance running. Please make sure to clone, build and run Polypheny-DB as well. See [this link](https://github.com/polypheny/Polypheny-DB/discussions/286) on how to set up Polypheny-DB. If you run Polypheny-DB on a different host or a non-default port, make sure that the connection information in the [Query-to-File config file](https://github.com

[2021-04-15 20:07] datomo opened #334 "Enable Ordering of AdapterSettings"
### Description:
Polypheny-UI, as of now, does not correctly sort the available adapter settings when deploying an adapter.
While it receives the ordering for the settings already, it is not able to show them sorted.

![issue](https://user-images.githubusercontent.com/5930207/114930102-ee64bf00-9e34-11eb-8c6b-2450e38b79c0.png)

### Reason:
At the moment those settings are ordered alphabetically. T

[2021-04-16 09:58] Pawanupadhyay10 commented on #184
![image](https://user-images.githubusercontent.com/52281814/115007928-28cb6c00-9ec8-11eb-9d3f-78253cf3fa88.png)

HI,@vogti I have added the horizontal scroll bar and more space in plan builder please see the image attached.

[2021-04-16 11:57] Pawanupadhyay10 commented on #184
Hi,@vogti, please  have look on My PR.Thanks.

[2021-04-17 07:38] JAgrit20 opened #335 "Carousel media Overlapping"
In the data-carousel folder, there is overlapping in media if we have one video & one Image as the data type of the columns.
![image](https://user-images.githubusercontent.com/65972513/115105530-28d97380-9f7d-11eb-93c1-720363c362bf.png)

[2021-04-17 07:39] JAgrit20 commented on #335
I have a patch for this, i'll be sending PR today

[2021-04-17 09:36] earthshakira commented on #191
Hi! @datomo,

I tried implementing the solution, it works fine from the backend, but it's adding additional complexity on the UI side as we need to include the methods for parsing the datetime strings.
I was thinking, is we could modify the `toString` or `Encode` method from the backend then it would reduce the parsing complexity on the front end
Also, dealing with string times is much easier than

[2021-04-17 15:14] vogti commented on #184
Hi @Pawanupadhyay10, while your solution does indeed increase the available space on smaller screens, it limits the space on larger screens. So that makes things even worse.

To fix this problem, a more sophisticated solution is required. The idea would be to have an infinite space.

[2021-04-17 15:19] Pawanupadhyay10 commented on #184
ok,@vogti, but as issue is closed ,how can I improve it.

[2021-04-17 15:21] Pawanupadhyay10 commented on #184
Can ,i start with a new issue.

[2021-04-17 15:22] vogti commented on #184
I have only closed the PR, not the issue. You can simply open a new pull request with the improved solution for this problem.

[2021-04-17 15:22] datomo commented on #191
Sadly this does not really work, when using Gson, as we do, to seralize the map with the StatisticColumn.
According to Gson you would need to implement your own JSONSerializer<TemporalStatisticColumn> if you want to control completly how each field is serialized.
If you feel up to the task here is an example:
https://howtodoinjava.com/gson/custom-serialization-deserialization/ (BooleanSerializer.j

[2021-04-17 15:23] Pawanupadhyay10 commented on #184
ok,Thanks.

[2021-04-17 15:23] vogti commented on #184
Of course, shall I unassign you from this issue?

[2021-04-17 15:28] Pawanupadhyay10 commented on #184
I am thinking for better solution ,but if  you like to assign me new issue, I have no problem then.

[2021-04-17 15:31] vogti commented on #184
Oh, then I misunderstood you. I thought you ask whether you can work on a new issue (instead of this one).

[2021-04-18 12:04] Pawanupadhyay10 commented on #184
Hi,@vogti , please have a look now , for better solution in my PR.

[2021-04-24 11:32] JAgrit20 commented on #335
did the required changes not it is completely responsive

[2021-04-25 05:15] Pawanupadhyay10 commented on #184
hi.@vogti have a look on the PR.

[2021-04-25 10:19] #203 closed

[2021-04-25 12:56] vogti commented on #184
Hi @Pawanupadhyay10, thanks for the pull request. Unfortunately, this is still not a proper solution. While it no longer limits the available space on larger screens, the available space is still static. Since the run button is only accessible by scrolling, your change makes the plan builder difficult to use. As I pointed out in one of my previous comments, fixing this issue requires a more sophis

[2021-04-25 13:13] Pawanupadhyay10 commented on #184
Okay@vogti.

[2021-04-29 17:37] S-Harshit commented on #254
Hi @vogti, I am little stuck and need some help currently prompt() method is used to display the input field and it doesn't allow changing the field size or adding additional button for file input so a custom prompt would need to be created, I am not sure whether I am right or not also if  it has to be created I haven't found the right approach so if you can guide me a little that would be helpful

[2021-05-01 08:16] datomo commented on #254
Hey @S-Harshit
You are absolutly right, prompt is used to display the modal from the user and get their input.
And you are also correct by observing that you would need to change it to a diffrent popup/modal function to be able to change it according to your needs. Luckly Angular has a lot of ways to do that.
For one you could use some form of the modal, which comes with our used template framewor

[2021-05-01 08:23] datomo commented on #254
Hey @S-Harshit
You are absolutly right, `prompt` is used to display the modal from the user and get their input.
And you are also correct by observing that you would need to change it to a diffrent popup/modal function to be able to change it according to your needs, as the used `prompt` is rather basic.
Luckly, Angular has a lot of ways to do that.
For one you could use some form of the modal, wh

[2021-05-22 15:28] PrakruthiSomashekar commented on #307
Hi @vogti, I'm trying to understand the requirement. Please correct me if I'm wrong.
1. When Main program is run, JavaFX based user interface has to come up with TextFields to enter settings (host address, port, etc.)
2. Once the fields are entered and submitted, the application will start using the given settings.
3. Should default values be configured incase some of the fields are left blank whi

[2021-05-23 21:32] vogti commented on #307
Hi @PrakruthiSomashekar, welcome to Polypheny! Would you like to take care of this issue?
1) Exactly
2) Exactly
3) It makes sense to have default values. I would suggest pre-filling all input fields with these default values. It might be beneficial to keep a settings file and take the default values from that file.

It would be great if you can take care of this issue.

[2021-05-24 03:52] PrakruthiSomashekar commented on #307
Thanks @vogti! happy to contribute:)

[2021-05-24 14:26] vogti commented on #307
Perfect :) I have assigned the issue to you.
I think 2, 3 and 5 should definitely be configurable on startup. Regarding 5: The idea is that this should be determined automatically in future (trying different typical locations depending on the operating system). Nevertheless, it is always possible that the system has a very special configuration which requires manually specifying the location of th

[2021-05-25 07:47] PrakruthiSomashekar commented on #307
Hi @vogti, I've implemented edit settings UI and the input is captured in the StartUpController class. I've added public getter setters for accessing input globally but it doesn't seem to work. I'm stuck where I'm creating the controller object in QueryInterface to replace getWebSocketUrl with controller.getHost() which is giving Null pointer. Can you please help me with this?
Attaching code for r

[2021-05-29 13:47] datomo commented on #191
While I think the the transformation to TimeStamp should not be a problem, you would need to take some precautions when creating your TemporalStasticColumns from the new data. Not all input data of a PolyType has to be the same underlying Java type, but you should be able to transform it rather easily. You would need to make sure that you only insert it as Longs, so for one your interal logic work

[2021-05-29 18:18] PrakruthiSomashekar commented on #307
@vogti, please review the PR mentioned below. Thanks.
https://github.com/polypheny/Query-to-File/pull/3

[2021-05-30 14:35] vogti commented on #307
@PrakruthiSomashekar Thank you for the PR. You may want to join our Discord server via the following link: https://discord.gg/xuBXEy4g

[2021-06-05 08:42] PrakruthiSomashekar commented on #303
Hi @vogti, couple of questions on the cache configurations:
1. What should be the cache size?
2. Cache refresh time, when should the cache be cleared?
3. What should be the workaround if the requested multimedia files exceed cache size?

[2021-06-05 23:55] vogti commented on #303
Hi @PrakruthiSomashekar. Thanks for taking care of this issue!
The issue is that when opening a file, the whole file is requested from the server and then stored in memory. So "cache" might be the wrong word. Primarily, the idea is store the data on the disk instead of the memory. You need to have a look on how this can be accomplished using fuse.

So regarding your questions:
(1) I think it makes

[2021-07-06 14:53] #191 closed

[2021-07-11 21:45] vogti opened #344 "Display relational algebra expression in the query plan builder"
Print the query plan as relational algebra expression and allow executing multiple query plans.

[2021-07-27 09:40] S-Harshit opened #351 "Getting Error While Executing The Following SQL Queries"
1.
**Data**:  CREATE TABLE TableC(ID INTEGER NOT NULL, DataC VARCHAR(255), PRIMARY KEY (ID));
          INSERT INTO TableC VALUES (1, ' Seventh');
          INSERT INTO TableC VALUES (2, 'Eighth ');
          INSERT INTO TableC VALUES (3, ' ninth ');

**Query**: SELECT U.id, TRIM(TRAILING 'th' FROM U.dataC) FROM TableC AS U;

[Link to Test](https://github.com/S-Harshit/Polypheny-DB/blob/0b994a9b73

[2021-08-28 08:20] ppanopticon opened #357 "Cottontail-DB Adapter: LIMIT does not get propagated"
If I enter a query such as  `select * from cineast.features_averagecolor LIMIT 1` in the Polypheny DB query UI, then the LIMIT part does not get propagated to the Cottontail DB adapter. The respective parameter in _CottontailQueryEnumerable.buildSingleQuery_ is null.

[2021-08-31 12:59] vogti commented on #357
I fixed this in the linked commit.

[2021-08-31 15:17] #357 closed

[2021-10-06 09:04] ppanopticon opened #361 "PostgreSQL-Adapter (remote): Problems when there is no connection to DB"
If I create a PostgreSQL-Adapter (remote), I encounter the following issues in case there is no connection to the database instance (e.g., because the port setting was wrong):

1. Polypheny-DB lets me create the adapter even though it cannot connect to the database. This is, for example, not possible with the Cottontain-DB adapter.
2. If I now start to define a schema using my broken adapter, crea

[2021-10-11 06:07] vogti commented on #361
Fixed by https://github.com/polypheny/Polypheny-DB/commit/6c91b6da2be726850e77719283e472ce72185c6e

[2021-10-11 10:44] ppanopticon opened #362 "Cottontail DB Adapter: Statistics / Frequency and Query Optimization"
I noticed that Cottontail DB gets 'spammed' with statistics related queries quite frequently, which seems to be detrimental to the overall responsiveness of the system. I see two optimisations on the Polypheny-DB side:

- Revisit the number of statistics related queries executed by Polypheny-DB. It really feels as though Polypheny-DB executes them every few minutes or so.
- Optimize the queries of

[2021-10-18 14:11] #361 closed, assigned to nobody

[2021-11-19 06:44] absh2702 commented on #298
Hi @vogti,
I would like to work on this issue. I have already built Polypheny-DB and Query-to-File projects in IntelliJ and am able to successfully run them. I just want to ask if I switch to a Linux machine to work on the Query-to-File project as this project currently does not support Windows OS (Issue #297) ? Any other documents/links to refer to while fixing this issue would be much appreciate

[2021-11-21 20:41] vogti commented on #298
Hi @absh2702, thank you for taking care of this. I have assigned the issue to you.
Have you already tried the Windows Subsystem for Linux? This might work as well. There isn't really any else you need to read, but you can always ask if you have questions.

[2021-11-22 12:55] hennlo opened #369 "Query Plans can't be visualized in Google Chrome"
### Problem description
As already described in the [discussions page](https://github.com/polypheny/Polypheny-DB/discussions/368), the Query Plans cannot be visualized in Google Chrome once the local storage has exceeded its quota:
`ERROR DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of 'plan_1637583587703' exceeded the quota.`
![image](https://user-images.githubusercon

[2021-11-22 12:56] hennlo commented on #369
@datomo  Maybe you could take a quick look at this?

[2021-11-22 13:22] datomo commented on #369
Your suggested approach should be easily doable. I can implement it asap.

[2021-11-22 17:27] datomo commented on #369
While my suggested PR would fix the problem, I see no reason to even save the query plans to localStorage to begin with.
Especially due to the fact that this is done each time when the plan view is switched to another plan, even for the same queries and the same plans.
So we could also disable this saving process, as it is not necessary and brings no benefit preformance or utility wise, as far as

[2021-11-23 21:10] vogti commented on #369
I don't know. If there is no advantage of storing them, we should of course disable this entirely.

[2021-11-24 06:44] absh2702 commented on #298
Hi @vogti,
Thank you for suggesting WSL. I am facing an issue that IntelliJ FREEZES while opening projects via WSL. I am not able to find any solution for this. What do you suggest in this regard?
Thank you.

[2021-11-24 09:27] vogti commented on #298
Have you followed this guide? https://www.jetbrains.com/help/idea/how-to-use-wsl-development-environment-in-product.html

[2021-11-24 09:42] absh2702 commented on #298
Yes, I followed the same guide. After this, I was able to successfully build and run the projects. But, sometimes the IntelliJ gets frozen and then I have to forcefully terminate IntelliJ. This issue mainly arrives if I try to open the second project. Like, if I open Query-to-File after running the instance of the Polypheny-DB, the IDE just freezes.

[2021-11-24 12:42] #369 closed

[2021-12-13 09:02] hennlo opened #372 "Fix Log4J vulnerability CVE-2021-44228"
The identified [vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2021-44228).
in Apache Log4j  version <= 2.14.* allows Remote Code execution via Jndi Lookup.

**Orignal Description:**

_"Apache Log4j2 <=2.14.1 JNDI features used in configuration, log messages, and parameters do not protect against attacker controlled LDAP and other JNDI related endpoints. An attacker who can control log messag

[2021-12-13 16:25] #372 closed

[2021-12-19 10:45] erdengk commented on #306
My computer system is Mac OS Big Sur, apple M1 chip.
I also encountered problems similar to the above, but I have a running polyphenyl dB. But this error always occurs when I
want to run Query to file.

ERROR [JavaFX Application Thread]: Could not load fxml

I also used Google to search many web pages, but I couldn't find a solution.
@vogti @nilshansen94  Can you help me solve this problem？

The s

[2021-12-20 09:17] vogti commented on #306
@datomo Can you have a look on this? This seems to be a JavaFX issue.

[2021-12-20 14:21] vogti commented on #306
@erdengk It looks like it is unable to find fuse. Have you installed jnr-fuse as described in the readme?

[2021-12-26 10:21] erdengk commented on #306
@vogti  Thank you for your prompt. I have successfully run the Query-to-File.

![image](https://user-images.githubusercontent.com/37730787/147405165-44bf81af-8008-469d-8ce7-b3a277db0976.png)

[2021-12-26 10:22] erdengk commented on #306
@vogti  @nilshansen94
I want to confirm with you that the problem is to add a function to modify configuration options through parameters?

For example, the path where to mount the result or the polyphenyl DB host

I'm trying to understand this project. I don't know where to start. Can you guide me on where to start? Thanks.

[2022-01-02 18:19] vogti commented on #306
Yes, kind of. The idea is to have kind of a command line mode for Query-to-File. This would allow using it in scripts.

[2022-01-05 13:44] absh2702 commented on #298
Hi @vogti, Will it be possible for you to share a video or a documentation on how to run an update query on Query-to-File Interface. I went through the `ResultFS` and `QueryInterface` classes and understood the required methods but I would like to debug and know, how the query is executing. This will help me understand the workflow of the Query-to-File interface in a better way. Thanks.

[2022-01-06 07:34] ppanopticon opened #381 "Cottontail DB Adapter: EXISTS in prepared statement"
There seems to be an issue when executing an EXISTS statement in a prepared statement:

[code]

The table `cineast.test_feature_vector` fully resides on Cottontail DB and consists of two rows _id_ (varchar) and _feature_ (float vector).

If I execute this query via UI, it succeeds. However, if I execute it as prepared statement from within Cineast, I run into a null pointer exception. The exceptio

[2022-01-06 15:20] silvanheller opened #382 "HttpInterface statistics are not updated"
When executing requests against the http interface, no statistics are measured. The underlying cause seems to me that in https://github.com/polypheny/Polypheny-DB/blob/master/http-interface/src/main/java/org/polypheny/db/http/HttpInterface.java, the counters are only accessed, but never incremented.

To reproduce, simply execute any query against the http interface, e.g. with
[code]
and watch the

[2022-01-06 16:08] silvanheller opened #383 "HttpInterface has no error logging"
The HttpInterface has no logging for errors, which makes it hard to debug without setting up the whole stack locally. An easy way to include this would be to use the generic exception-handling method provided by Javalin (https://javalin.io/documentation#exception-mapping).

To reproduce, simply start polypheny via Control and perform any ill-formed query, e.g.

[code]
and watch nothing being logge

[2022-01-06 16:29] vogti commented on #382
Thx, @silvanheller, for this bug report. This has been an artifact from the refactoring of the query interfaces. I have replaced it with counters for the supported query languages (MQL, SQL, CQL and Pig).

[2022-01-06 16:32] vogti commented on #383
Thx, @silvanheller, for this bug report and the suggested solution. I've added some basic error handling which returns an error result and appends the error message to the log.

[2022-01-08 01:57] erdengk commented on #310
If there is no one to solve this problem now, I want to try to solve it. @vogti

[2022-01-13 13:48] erdengk commented on #281
Hi, @vogti
Can you tell me where the Java code or HTML of the generated graph is located? DB has many modules. I often don't know where to start to solve these problems.🤣

[2022-01-15 09:22] erdengk commented on #300
Hi，@nilshansen94
 There are too many modules in  Polypheny-DB. I don't know where to start. Please point out the code where the problem lies. Or indicate which module code I should understand first.  🙏

[2022-01-16 02:34] erdengk commented on #344
Hi, @vogti
I'm not sure what issue means. Does it mean the same as the following example?

Convert ` select * from S2 where rating>8 `  to `  σ rating>8 (S2) `

Perhaps the purpose of the problem is to use relational algebra to generate the lowest cost query plan？

[2022-01-16 10:46] vogti commented on #344
Hi @erdengk
You are right, the description of this issue is not really informative. Polypheny-DB internally represents queries using an extended relational algebra.

The idea of this feature is to come up with a notation for the internal query representation of Polypheny-DB. This would allow to easily test queries independent of a specific query language. However, since we are currently in the pro

[2022-01-16 10:50] vogti commented on #300
Hi @erdengk
This issue is intentionally labeled as medium. This usually means, that it requires some more in-depth understanding of how Polypheny-DB works internally. I therefore do not recommend this issue to get started.

[2022-01-16 10:53] vogti commented on #281
Hi @erdengk
The frontend-code of the UI lives in its own [repository](https://github.com/polypheny/Polypheny-UI). The Polypheny-UI is based on Angular and follows the common structure.

[2022-01-16 14:40] erdengk commented on #344
@vogti
Yes, thank you for your answer. I will continue to study this problem.

If you have time, please review this [pr](https://github.com/polypheny/Polypheny-DB/pull/386#issue-1101744016)，thanks.🙏

[2022-01-17 06:37] erdengk commented on #293
Hi， @vogti I have two questions

1. Is the log file location wrong?

I noticed that this issue was opened in 2020, maybe in the past time, Polypheny's logging system was updated.
I run Polypheny-DB and Polypheny-UI, but no logs are generated under `~/.polypheny/logs/`.

![image](https://user-images.githubusercontent.com/37730787/149719289-d475ea55-f76b-48cb-92f7-4e76849acb23.png)

2. About solving

[2022-01-17 22:53] vogti commented on #293
Hi @erdengk,
this issue is about Polypheny Control. If you start Polypheny using Polypheny Control, a log file should correctly be created. Can you please verify?

[2022-01-19 06:17] erdengk commented on #293
Hi， @vogti , at your prompt I successfully generated the log.

![image](https://user-images.githubusercontent.com/37730787/150074518-b27c910e-8640-4c5a-9b45-f59db2c85d5e.png)

I have a new idea about this issue.

Perhaps this feature needs to be discussed in detail. Please check out this [discussion](https://github.com/polypheny/Polypheny-DB/discussions/388#discussion-3809285)

[2022-01-21 09:33] vogti commented on #383
Added with #384

[2022-01-21 09:33] #383 closed

[2022-01-21 09:33] vogti commented on #382
Added with #384

[2022-01-21 09:33] #382 closed

[2022-01-21 10:19] silvanheller opened #389 "Cottontail DB embedded adapter does not respect port specified in UI"
To reproduce:
- Start something on Port 1865
- Try to start a cottontail embedded adapter on any port (e.g. 1866) via the UI
- Watch as the log says:
[code]

[2022-01-21 11:22] vogti commented on #389
Thanks for reporting this issue. Has been fixed in #384.

[2022-01-21 11:22] #389 closed

[2022-01-23 22:09] vogti opened #390 "Allow querying other schemas than the default schema using PolyPig"
PolyPig is currently limited to the default schema. The language should be extended to support querying other schemas than public.

[2022-02-03 21:02] aniket2405 commented on #298
Hello, I would like to contribute to this issue, if it is still open. Thanks!

[2022-02-04 18:57] vogti commented on #298
Hi @aniket2405, welcome to Polypheny! It would be great if you can take care of this issue. I have just assigned it to you. Importing [Polypheny Query-to-File](https://github.com/polypheny/Query-to-File) in your favorite IDE is similar as it is described for Polypheny-DB [here](https://github.com/polypheny/Polypheny-DB/discussions/286). The main-method is located in `src/main/java/org/polypheny/qt

[2022-02-10 12:00] erdengk opened #394 "There seems to be a bug in the Polypheny-Control logging module"
I think this should count as a bug, so I'll raise the issue.

I found this bug while trying to fix [Dynamically load log lines from server](https://github.com/polypheny/Polypheny-DB/issues/293#issue-831147929).

The specific performance is: start the Polypheny-DB, after refreshing, the log module cannot accept the log.

Steps to reproduce:

1. After Control starts, click `start` and the log will b

[2022-02-20 15:12] hennlo opened #395 "Improve Insights on Number of active Monitoring Threads"
### Affected Areas

DB

### Feature Description

Improve Insights on Number of active Monitoring Threads.

The monitoring service currently supports dynamic thread pooling, starting with a number of `CoreSize` Threads that are active and working on monitoring events in the queue. This pool will spwan new threads up to the defined limit of `MaxPoolSize`.

However, currently we have no insights when

[2022-02-23 10:41] #141 closed

[2022-02-23 10:42] vogti commented on #69
Fixed in #380

[2022-02-23 10:42] #69 closed

[2022-02-23 10:44] vogti commented on #153
Replaced by #393

[2022-02-23 10:44] #153 closed

[2022-02-23 10:50] vogti commented on #94
Fixed

[2022-02-23 10:50] #94 closed

[2022-02-23 10:57] vogti opened #397 "Make default namespace configurable on a per-interface basis"
### Affected Areas

DB

### Feature Description

The default namespace (usually public) can only be changed for the whole system. It would be beneficial to make this individually configurable for every query interface.

### Use Case(s)

Application specific views on the data

### Possible solutions

_No response_

### Possible alternatives

_No response_

[2022-02-23 11:00] vogti opened #398 "Auto-commit is broken in the JDBC driver"
### Operating System (Polypheny-DB)

_No response_

### Polypheny-DB Version

all

### Affected Areas

JDBC

### Browser

_No response_

### Client Operating System

_No response_

### Bug description

Setting auto-commit in the JDBC driver has no effect.

### Reproduction Steps

Trivial

### Expected Behavior

Setting auto-commit to true should result in every statement being committed immediatel

[2022-02-23 11:04] vogti opened #399 "Executing an invalid MQL query in the UI returns no error"
### Operating System (Polypheny-DB)

_No response_

### Polypheny-DB Version

v0.7.0

### Affected Areas

DB, UI

### Browser

_No response_

### Client Operating System

_No response_

### Bug description

Invalid MQL queries do not return in the UI.

### Reproduction Steps

Execute the query `db.collection.find( id, 2)`

### Expected Behavior

Display error message

### Relevant log output

_No

[2022-02-23 14:10] vogti opened #400 "Deploying a file store breaks overview in the UI"
### Operating System (Polypheny-DB)

_No response_

### Polypheny-DB Version

v0.7.1

### Affected Areas

DB, UI

### Browser

Firefox

### Client Operating System

_No response_

### Bug description

Deploying a file adapter breaks the overview of available adapters in the Polypheny-UI. However, the adapter is correctly deployed.

### Reproduction Steps

Deploy a file adapter in the UI.

### Expe

[2022-02-24 08:00] isabelge opened #401 "Option to select a time interval for the dashboard"
### Affected Areas

DB, UI

### Feature Description

![dropdown](https://user-images.githubusercontent.com/43370060/155479564-8b25722d-596b-47aa-a359-2d351a653a9a.PNG)

Addition of a possibility to select the time interval for the dashboard.

### Use Case(s)

Right now the dashboard has no possibility to select a specific time interval. It would be helpful to be able to choos a time interval in or

[2022-02-24 12:56] vogti opened #402 "Sort column is always projected"
### Operating System (Polypheny-DB)

_No response_

### Polypheny-DB Version

v0.7.0

### Affected Areas

DB

### Browser

_No response_

### Client Operating System

_No response_

### Bug description

Columns specified for sorting are always present in the final result, independent of whether they have been projected.

### Reproduction Steps

`select empid from emps order by deptno`

Second exec

[2022-02-24 13:08] vogti opened #403 "Add option to reset catalog on startup in desktop mode"
### Affected Areas

DB

### Feature Description

Add a button in the incompatible catalog version error window that allows to reset the catalog.

### Use Case(s)

If the version of the catalog is incompatible with the version of Polypheny-DB, it outputs an error. When starting Polypheny-DB from commandline this can easily be solved by starting Polypheny with the `-resetCatalog` argument. However,

[2022-02-28 11:05] hennlo opened #404 "Remove all Java related errors facing the user"
### Operating System (Polypheny-DB)

Linux, Windows, macOS

### Polypheny-DB Version

v.0.7.0

### Affected Areas

DB, UI

### Browser

Chrome, Firefox, Safari, Edge, Opera

### Client Operating System

_No response_

### Bug description

**_DISCLAIMER:_**
_This is somewhat simply not implemented rather than a Bug but it is desirable to receive clear output in the near future._

Whenever an error

[2022-03-03 14:30] hennlo opened #406 "Add Technical Requirements of Polypheny-DB to Documentation"
### Affected Areas

Website

### Feature Description

The documentation currently lacks a dense information page on what ports Polypheny uses, what they are used for or maybe which configuration options exist.

This hinders the fast deployment and provisioning of Polypheny in more restricted areas.

### Use Case(s)

When operating Polypheny on a server behind a firewall or even a reverse proxy, th

[2022-03-04 15:48] #310 closed

[2022-03-04 16:06] #400 closed

[2022-03-16 16:29] nodermatt opened #407 "Materialize view feature in Polypheny UI"
### Operating System (Polypheny-DB)

Windows

### Polypheny-DB Version

5e41a00ae282ea8d8669fb186f932bea3e70c310 master

### Affected Areas

UI

### Browser

Chrome

### Client Operating System

Windows 10

### Bug Description

I was looking for the button to materialize a view in the Polypheny UI. Wasn't there such a feature before the last release?
![Polypheny-materialize-view](https://user-imag

[2022-03-16 16:52] isabelge commented on #407
@nodermatt  I am not sure if I understand the issue correct. You created a view and now you would like to materialize it?

There is no possibility to create a view or materialized view within the schema editing. In the schema editing for views only information about the underling tables is shown and for materialized views information about the freshness and it is possible to update the materialize

[2022-03-16 19:47] isabelge commented on #407
The option to transform a view to a materialized view within the schema editing does not exist at the moment. However, this can be added in the future.

[2022-03-22 04:35] zxie86 commented on #401
Hi!
I would like to apply to Polypheny in the GSoC 22. I want to work on this issue to learn more about Polypheny.
Could you please assign me this issue?

Thanks,
Kelly

[2022-03-22 07:35] heitzli commented on #401
Hi @zxie86 it would be great if you could take care of this issue. I have just assigned it to you. To set up your Development Environment please refer to the following guides: [DB Development Environment](https://polypheny.org/documentation/DB-Dev-Env/) and [UI Development Environment](https://polypheny.org/documentation/UI-Dev-Env/).

[2022-03-22 11:57] BrokenArrow1404 commented on #308
Hi, I would like to is this problem still available in GSOC 2022?

[2022-03-23 07:07] heitzli commented on #308
Hi @BrokenArrow1404 it would be great if you could handle that issue. I assigned it to you.

[2022-03-23 14:08] BrokenArrow1404 commented on #308
got it and thanks

[2022-03-24 11:28] melisacrnica commented on #149
Hi,
I'd like to contribute to Polypheny for GSOC 2022. May I please be assigned this issue?

[2022-03-24 13:01] heitzli commented on #149
Hi @melisacrnica it would be great if you could take care of that issue. I assigned it to you.

[2022-03-28 01:25] Slayzur02 commented on #395
Hello! I want to contribute to Polypheny during GSoC 2022, and wanted to start with this issue. Could you assign it to me?Thank you.

[2022-03-28 14:14] hennlo commented on #395
Hi @Slayzur02  it would be great if you could handle that issue. I assigned it to you.

[2022-03-29 07:14] zxie86 commented on #401
Hi,
I am trying to pass an array of TreeMap(one treemap for each time interval) from StatisticCrud (getDashboardDiagram) to the UI getDiagram(), but the UI gives an error "Property 'left' does not exist on type 'unknown'"(**value**.left  is unknown) when I tried to grab the response <DashboardData>res [0,1,...].

I wonder if I need to modify<DashboardData>, or approach this problem in a different

[2022-03-29 21:50] isabelge commented on #401
Hi @zxie86
I am not sure if I understand your idea correct. I would suggest to only pass one time interval (only one TreeMap) to the UI. The idea is that only one time interval is displayed at the time. Therefore, I would not fetch the time intervall before it is selected.
If you have any further questions or if I misunderstood your idea, please feel free to ask again.

[2022-03-29 23:10] zxie86 commented on #401
Hi @isabelge
My original idea was the time intervals will use the same dataset(the same end time).
Your suggestion would be every time the user choose a time interval, the UI will call the crud service. So the end time(current time) will be different time. Is it correct? If yes, that make more sense!

Thanks!

[2022-03-31 05:52] isabelge commented on #401
Hi @zxie86
Yes, exactly. And yes, the end time will be different every time, which means that with changing the interval the information is also updated.

[2022-04-01 07:41] zxie86 commented on #401
Hi @isabelge,
I created two pull requests. Please review and I am looking forward to receiving feedback. Thanks!

UI: https://github.com/polypheny/Polypheny-UI/pull/71
DB: https://github.com/polypheny/Polypheny-DB/pull/409

[2022-04-02 22:01] Mnv07 commented on #281
Hi, I was hoping to contribute for GSOC 2022 and was wondering if this issue could be assigned to me....

[2022-04-06 13:06] Slayzur02 commented on #395
Hi @OmarMetmwah, I'm currently working on it, but you can also work on it if you want too.

[2022-04-06 13:09] heitzli commented on #395
Hi @OmarMetmwah thank you for your interest in Polypheny. Since @Slayzur02 is already handling that Issue I would recommend you to pick another Issue from our list of good first issues (https://github.com/polypheny/Polypheny-DB/issues?q=is%3Aissue+is%3Aopen+label%3AE-good-first-issue).

[2022-04-09 16:17] C-mmon commented on #399
A timeout request has to be put here.

[2022-04-09 16:34] C-mmon commented on #292
The given path cannot be found

[2022-04-09 16:40] C-mmon commented on #281
<img width="1510" alt="image" src="https://user-images.githubusercontent.com/44610528/162583197-06bfd26a-be3b-45ca-9009-051bdef0486d.png">
No longer able to replicate this issue

[2022-04-09 19:08] vogti commented on #281
Hi @C-mmon
The example query indeed does not show this problem anymore. However, if you expand the query, it is still present:
`select * from emps e1, emps e2, emps e3, depts d1, depts d2, depts d3
where e1.deptno = d1.deptno and e2.deptno = d2.deptno and e1.deptno = d2.deptno and e1.deptno = d2.deptno and e1.deptno = d3.deptno`

<img width="1525" alt="Screenshot 2022-04-09 at 21 07 23" src="https

[2022-04-09 19:47] datomo commented on #399
Hey @C-mmon
Thank you for your proposal, this issue is already assigned and is already fixed in https://github.com/polypheny/Polypheny-DB/tree/cypher. But if you would like to contribute feel free to pick one of the open issues [First Issues](https://github.com/polypheny/Polypheny-DB/issues?q=is%3Aissue+is%3Aopen+label%3AE-good-first-issue, which is not yet assigned to someone. We are looking forw

[2022-04-13 04:20] GauravKumawat33 commented on #401
Is the issue still open?

[2022-04-13 09:14] Marc13000 commented on #296
Hey I was wondering if this issue has been resolved?
Otherwise I would like to try a hand at solving it!

[2022-04-13 09:32] Marc13000 commented on #296
I was thinking of creating a isSetChildren method in sidebar to check if the variable is [] and then just use that to check nesting of each of the "nodes". Am I taking the right approach to this @vogti ? I am an applicant for GSoC 2022.

[2022-04-13 09:34] vogti commented on #296
Hey @Marc13000, welcome to Polypheny! Yes, the issue is still open. It would be great, if you can take care of it. I have assigned the issue to you. Please follow [this](https://polypheny.org/documentation/DB-Dev-Env/) and [this](https://polypheny.org/documentation/UI-Dev-Env/) for setting up Polypheny-DB and Polypheny-UI in your favorite IDE. Feel free to ask here or open a thread in the [discuss

[2022-04-13 09:39] vogti commented on #401
Hi @GauravKumawat33, welcome to Polypheny! No @zxie86 has already solved this issue and opened a pull request. But you can work on another good-first-issue.

[2022-04-13 09:42] vogti commented on #395
Hi @Slayzur02 Do you have any questions?

[2022-04-13 09:43] vogti commented on #149
Hi @melisacrnica Do you have any questions?

[2022-04-13 10:05] BrokenArrow1404 commented on #308
Sorry, I can't continue working on this project due to personal reasons.

[2022-04-13 12:58] vogti commented on #308
Ok, if you have time again, please do not hesitate to reach out to us :)

[2022-04-13 13:03] Marc13000 commented on #296
The importing of Polypheny-DB is taking way too long for some reason.. Using just the UI files and setup I managed to come up with this:
 hideExpandandCollapse() {
     return this.nodes.map(this.isSetChildren).includes(true);
  }

  isSetChildren(node: SidebarNode) {
    return node.children.length !== 0;
  }

and add *ngIf with the function to the html for expand and collapse. If it looks right

[2022-04-13 13:22] datomo commented on #296
Hey @Marc13000
To solve this you cannot rely on the structure of the sidebar tree. You mainly need to check if settings are displayed, aka which page your are on.
If you then are on a settings page you can just hide the search box.
When you only check if the nodes have children you potentially hide it on pages where schemas without children are displayed. I hope this helps, if not feel free to com

[2022-04-13 13:26] Marc13000 commented on #296
Not sure what you mean by if settings are displayed.

[2022-04-13 13:27] Marc13000 commented on #296
Also i managed to import the DB in IntelliJ but not sure how to run it

[2022-04-13 16:32] datomo commented on #296
You should be able to use one of the pre-configured run configs, either "Polypheny-DB" or "Polypheny-DB(reset) ".These are in intellij selected with the dropdown menu on the right side in the top taskbar. .

[2022-04-13 22:19] Slayzur02 commented on #395
Hi @vogti Thank you so much for asking. I just created a pull request where I used a scheduled timer which checks every 500ms to see if the number of threads have changed. I'm not sure if it's optimal, and have noted some points of concern with the pull request.

[2022-05-08 07:02] Nishant-dobaria commented on #308
hello sir, I want to know if this problem still open?

[2022-05-08 15:13] vogti commented on #308
Yes, this issue is still open. Do you want to take care of it?

[2022-05-08 16:11] Nishant-dobaria commented on #308
yes with pleasure, I am not familiar with angular but in order to solve that problem I first learn little bit about angular and then I approach to that problem.
problem statement is : Enlarge images and videos on click like this right?
![ngx-box](https://user-images.githubusercontent.com/77713587/167304859-8be69539-85fe-49be-9658-a51d2ea64b69.jpg)

[2022-05-08 16:13] vogti commented on #308
Yes, exactly. Great, I have assigned you the issue.

[2022-05-15 14:31] Nishant-dobaria commented on #308
I am extremely sorry for not solving that issue till now because after 4
days my 6th sem exams are starting but after exams I definitely start
contributing to this project.

On Sun, 8 May 2022 at 21:43, Marco Vogt ***@***.***> wrote:

[2022-05-17 17:53] sulea commented on #284
Hi @vogti. I am Attila Süle - you know me ;). This issue looks to be okay for me to start with. Your suggestions written for @y-martinez are clear. Hopefully, I can deliver a good solution in a few days - firstly I just have to try to set up the environment. If I have any questions, I will ask u here. Can you assign me? Thx.

[2022-05-20 14:49] datomo commented on #284
Hey @sulea
Polypheny and Polypheny-UI mostly communicate via a Rest like interface, with predefined routes in the `Crud` class in the webui module, the `InformationServer` in the information module or the `ConfigServer` in the config module depending on the use-case. These routes or endpoints are called by Polypheny-UI to Polypheny-DB.
This is done from the UI side, in so called services, which ar

[2022-05-23 16:35] sulea commented on #284
Hi, I think I will finish the ticket by tomorrow. I'm working on my own forks (both backend and frontend).
Can you explain how the merge request should be organized?

[2022-05-25 09:07] sulea commented on #284
Hi, thank you for the support and for the assignment.
I opened two PRs. Comments are welcome :) Thanks.
https://github.com/polypheny/Polypheny-DB/pull/411
https://github.com/polypheny/Polypheny-UI/pull/74

[2022-05-30 02:34] ritikBhandari commented on #406
where are these configurations mentioned? Like if I want to contribute to this issues, where can I find these system requirements so I can list them on documentation?

[2022-05-30 02:39] ritikBhandari commented on #404
Hi @hennlo,
Can I take up on this issue if nobody is working on it?

[2022-06-03 08:04] hennlo commented on #404
Hi @ritikBhandari, sadly that issue is somewhat ill-defined and quite extenssive in terms of workload.
It does not only revolve around the issue mentioned in the issue itself, but really all possible errors that are exposed to the user.
Since the codebas is quite large I think this issue will be easier if you have already worked with the issue.

However If you still would like to contribute (which

[2022-06-03 08:06] hennlo commented on #406
Hey @ritikBhandari yeah that is kind of the problem. We need to establish them first in a meaningful way.
While the disk is easier to define, for RAM and CPU we first need to establish benchmark scenarios to define a recommended system environement to work on.

[2022-06-10 09:16] datomo commented on #284
Hey @sulea, sorry for the delay, no worries everything is okey.
At the moment we have a lot of open branches with major changes, which are about to be merged, so be patient with us.

[2022-06-19 09:35] nodermatt opened #412 "Avoid dangling Transactions"
### Affected Areas

DB

### Feature Description

Operations that require a transaction but do not actually modify content typically contain the same code to gracefully close the transaction (e.g [Crud#getTables](https://github.com/polypheny/Polypheny-DB/blob/master/webui/src/main/java/org/polypheny/db/webui/Crud.java#L435) ). An automatic way of closing the transaction (similar to Java handles IO

[2022-06-23 09:31] Anphisa opened #413 "JSON cannot be cast to VARCHAR(8000)"
### Operating System (Polypheny-DB)

Windows

### Polypheny-DB Version

local branch (json-adapter). branched from master, last commit https://github.com/polypheny/Polypheny-DB/commit/0dd4cfc3ac0428d11ca67db7f4c262be6cbc9970)

### Affected Areas

UI

### Browser

Chrome

### Client Operating System

_No response_

### Bug Description

I added a json file which is displayed using the JSON Polytype.

[2022-06-23 09:41] Anphisa opened #414 "Closing adapter settings window accidentally by double clicking on file"
### Operating System (Polypheny-DB)

Windows

### Polypheny-DB Version

local branch (json-adapter). branched from master, last commit https://github.com/polypheny/Polypheny-DB/commit/0dd4cfc3ac0428d11ca67db7f4c262be6cbc9970)

### Affected Areas

UI

### Browser

Chrome, Firefox

### Client Operating System

_No response_

### Bug Description

https://user-images.githubusercontent.com/15688223/175

[2022-07-06 12:12] nodermatt commented on #412
@datomo @isabelge Do you have any objections? Otherwise I'll open a PR for this change.

[2022-07-06 13:19] datomo commented on #412
No objections from my side. As it is mostly a refactor with the minor addition of the `RuntimeException`, which is catched down the road and shown to the user, this should work as proposed.

[2022-09-23 07:46] #247 closed

[2022-09-23 14:42] vogti commented on #413
Will be fixed once #415 gets merged.

[2022-09-27 03:05] msaini0r commented on #308
@Nishant-dobaria Hi, I would like to work on this issue. If it is available.

[2022-10-03 10:08] vogti commented on #284
Fixed in #411

[2022-10-03 10:08] #284 closed

[2022-10-03 11:55] #296 closed

[2022-10-07 08:28] #395 closed

[2022-10-22 08:34] AniketNS commented on #298
Hello @vogti, I would like to contribute to this issue, if it is still open. Please let me know.

[2022-10-31 11:16] danielhass opened #420 "Clarify Java version requirements in docs - Crash on Java 19"
### Operating System (Polypheny-DB)

Linux

### Polypheny-DB Version

v0.8.0

### Affected Areas

DB, Website

### Browser

Firefox

### Client Operating System

Arch Linux Kernel 6.0.6-arch1-1

### Bug Description

Following the setup guide from here https://github.com/polypheny/Website/blob/master/release.md?plain=1#L26 I tried to run the Polypheny jar with Java 19 (which is greater than 11 and

[2022-11-03 09:36] vogti commented on #420
Thank you, @danielhass, for reporting this. We have fixed support for Java 19 and will shortly release version 0.8.1 including this fix.

[2022-11-03 12:11] #420 closed

[2022-11-04 13:46] vogti commented on #401
Fixed in #409

[2022-11-04 13:46] #401 closed

[2022-11-09 11:46] hennlo opened #424 "Add ` -version` as additional command line option"
### Affected Areas

DB

### Feature Description

Add ` -v | --version` as additional command line option to retrieve the installed version of Polypheny.

Currently the `polypheny` command line hook does only support runtime flags such as:
[code]

### Use Case(s)

Easy to use functionality to obtain installed version of Polypheny

### Possible Solutions

Add option in PolyphenyDb.java alongside the

[2022-11-28 14:08] Ejaz29 commented on #424
Hi @hennlo,
I would like to work on this issue. After looking around the code, I found the file to add the option
https://github.com/polypheny/Polypheny-DB/blob/master/dbms/src/main/java/org/polypheny/db/PolyphenyDb.java
But for default value of version do I need to keep it as v0.8.1 ?

[2022-11-28 14:40] hennlo commented on #424
Hi @Ejaz29 thanks for interacting with Polypheny.

There is no need to set or work with a default value here.
You can simply  print out the current configured version that is set in the code.

If you want to be extra fancy you can also print out the associated  commit id along the version.

I'll assign you the issue.

[2022-11-28 16:32] Ejaz29 commented on #424
I cannot find where the version is set in the code sir. Is this ok?
@Option(name = { "-version" }, description = "Displays installed version")
public boolean version = false;
 And In runPolyphenyDB  method
if ( version ) {
     log.info("Version 0.8.1");
}
I am new to open source sir, having a hard time looking at the vast code.

[2022-11-29 06:09] Ejaz29 commented on #424
I cannot find where the version is set in the code sir. Is this ok?
@option(name = { "-version" }, description = "Displays installed version")
public boolean version = false;
And In runPolyphenyDB method
if ( version ) {
log.info("Version 0.8.1");
}
I am new to open source sir, having a hard time looking at the vast code. And I unassigned me by mistake you can assign me @hennlo .

[2022-11-29 10:51] hennlo commented on #424
@Ejaz29 Regarding the code snippet. Looks okay in general if you now include the correct version retrieved from `gradle.properties` file.
For the option selection process, I would stick to the open source commonalities and use both `-v` and  `--version` to detect this option.
Please also think about  the fact that if the version parameter was requested the system shall not start.
Similiar to the `

[2022-11-29 13:59] Ejaz29 commented on #424
hey @hennlo,
Thanks for the help. Created a pull request please review it.